[2014-10-01 06:39] SBoudrias opened #1 "Cleanup Events tests"
I reported touching/revisiting that part of our code a very long time (way too long)

File is here: https://github.com/yeoman/environment/blob/master/test/environment.js#L458

Events tested against generators should definitively be removed from this repo and ported to the generator system own files.

The one related to the environment should be cleaned up to make it relevant.

[2014-10-01 06:43] SBoudrias opened #2 "What's up Yeoman-Environment"
To be good semver citizens I guess our first release will be 1.0 (plus the system have been pretty stable as it's only extracted from yeoman-generator).

So, it's a good occasion to drop the bad parts. I open this thread as a free discussion. I'd prefer we keep changes small and focused, but bigger ideas are welcomed too.
#### Todos for 1.0
- [x] Remove property aliases (`args` <> `arguments`, etc

[2014-10-01 06:44] SBoudrias opened #3 "Fix gulp-jshint"
jshint throws hard on our tests about undefined globals. They are in the `.jshintrc` so really I have no idea what is going on there...

[2014-10-01 10:02] #3 closed, assigned to nobody

[2014-10-05 01:42] #1 closed, assigned to nobody

[2014-10-05 01:44] SBoudrias opened #4 "Improve #lookup() test performance"
The #lookup() test install generators for real and is taking quite a while to run. We could probably speed this test a lot by stopping using npm and mocking the full environment to run the test in.

[2014-10-06 06:07] #2 closed, assigned to nobody

[2014-10-06 18:05] sindresorhus opened #5 "Simplify API"
Just some thoughts and questions on things we can do to simplify the API. I'd be happy to open separate ticket for things, but want to hear them out first.

- Why does this module depend on `yeoman-generator`? And shouldn't the usage example be `var yeoman = require('yeoman-generator');` => `var env = require('yeoman-environment');`?

- I think we should drop `env.createEnv()` as you can already d

[2014-10-06 18:08] sindresorhus opened #6 "Don't print `\n` when no argument in `write()`"
https://github.com/yeoman/environment/blob/a03a150570ca8b9a8f9de13783d2d6dadf378f0c/lib/util/log.js#L83-L85

That's just weird, and much better to use `writeln` if you want a linebreak, which should append a `\n`.

[2014-10-11 23:58] SBoudrias opened #7 "Remove env#help() method"
This help method is command line specific and should be removed from this module.

To do so, we'll need to reimplement this method inside [yo](https://github.com/yeoman/yo)

[2014-10-12 00:01] SBoudrias opened #8 "Handle constructor parameters logic in the factory method."
The `Environment` constructor should be strict and allow only valid arguments (and throw otherwise).

The checks for partial signature or invalid inputs should be done in the factory function (`Environment.createEnv()`).

[2014-10-12 00:04] SBoudrias opened #9 "Automatically build/release new API doc"
Each time we publish a new `tag`, we should launch a Travis-CI process to release a new version of the API documentation.

 A shareable solutions for a couple of our repositories would be very awesome. See:
- https://github.com/yeoman/generator/issues/673

[2014-10-22 01:51] SBoudrias opened #11 "Running local generators by paths"
We should support running a generators that are part of a project.

I see two solutions:

1. Allow paths as generator name (e.g.: `yo ./generators/generator-local`)
2. Add a standard local directory to the generators lookup (like always lookup for `$PWD/yeoman` - or similar)

Adding a lookup should be easy enough. Running via paths could be more difficult as that would probably require to change t

[2014-10-22 02:05] SBoudrias opened #12 "Make the path to a generator configurable using the `main` field"
`main` field should contain the path to the main generator .js file.

Linked from https://github.com/yeoman/generator/issues/310

This have backward compatibility concerns and issue about how we then discover every sub-generators.

[2014-11-14 07:12] SBoudrias opened #14 "Need to support new npm scoped packages"
Initially opened here: https://github.com/yeoman/yo/issues/231
npm documentation: https://github.com/npm/npm/issues/5239

This will create module under a different kind of path, e.g.: `/usr/local/lib/node_modules/@foo/generator-bar/`

[2015-01-01 22:08] arthurvr commented on #6
Opened #6.

[2015-01-07 01:08] adenhertog opened #18 "Namespace resolving incorrectly from Environment.prototype.namespace"
Hi,

I've been working with yeoman-environment over the past couple of days as I'm wanting it scaffold out various bits from a Nodejs back end. Yeoman's been great so far.

However I'm having an issue when it's trying to resolve a namespace from a path.

The following path will resolve the namespace incorrectly (in environment.js:Environment.prototype.namespace)

[code]

Lookups:
[code]

This happ

[2015-01-07 08:54] sindresorhus commented on #5
@SBoudrias :arrow_up:

[2015-01-07 08:56] sindresorhus commented on #5
done: https://github.com/yeoman/yo/commit/e40800c06b3ab665f55310d3bc9342715981b94b

done: https://github.com/yeoman/yo/commit/6a603d90d9173eaca44e4aee381036960dd0d78b

I've added a deprecated comment https://github.com/yeoman/yo/commit/6a603d90d9173eaca44e4aee381036960dd0d78b#diff-f8849ae9f0614ba9464fdd14c2d98dc0R71 Is there any way we can intercept that route and console.log a deprecation message

[2015-01-08 08:41] sindresorhus opened #19 "Environment.getGeneratorNames()"
We currently have `Environment.getGeneratorsMeta()`, but it returns more than we usually need and we need to manually format the output. Would be nice to have a simple method to just get the generator names as an array.

Currently I have this hack in place that I would like to remove: https://github.com/yeoman/yo/blob/681bf11ee5619fd76a093abb04a660784a835d96/lib/utils/index.js#L8-L10

[2015-01-08 08:43] sindresorhus opened #20 "Environment.namespaceToName()"
Super simple method, but IMHO should be here and not in `yo`.

https://github.com/yeoman/yo/blob/681bf11ee5619fd76a093abb04a660784a835d96/lib/utils/index.js#L4-L6

[2015-01-11 22:30] sindresorhus opened #21 "Don't depend on `yeoman-generator`"
The whole point of extracting this is so runners like `yo` can depend on the environment without having to require all the junk in `yeoman-generator`.

https://github.com/yeoman/environment/blob/5b96dc84934a0785f832941a2ca49806b697d566/package.json#L44

[2015-01-11 22:36] SBoudrias commented on #21
Yeah, that's due to a legacy feature where a generator can be a single function:

[code]

I tried removed it a while ago and we got a bunch of bug reports. So we download yeoman-generator, but the use is very minimal as it is only used to wrap function as generator: https://github.com/yeoman/environment/blob/8f4714425caf95c9cb3c8d2e48b610e4b44bec37/lib/store.js#L106

[2015-01-11 22:40] sindresorhus commented on #21
I'm not worried about the use, rather the dependency tree when we depend on `yeoman-generator`. Not having that would make `yo` faster to install and load.

[2015-01-11 22:43] sindresorhus commented on #21
`yeoman-generator` dependency tree:

[code]

[2015-01-12 16:41] sindresorhus commented on #21
Also not sure why you're calling it legacy feature. It's very useful for super simple generator, so we're not going to remove it. https://github.com/h5bp/generator-mobile-boilerplate/blob/bf53b3e2c1f0a97ea7ec90c3e89673af9c94d421/app/index.js

Why can't `yeoman-generator` handle the conversion on its end?

[2015-01-12 19:59] SBoudrias commented on #21
Well, by legacy I mostly mean it's an old feature.

IMO it is not necessary anymore as extending the base generator is a low overhead operation (unlike before):

[code]

`yeoman-generator` cannot handle the conversion because it is never used by anyone else. The yeoman environment doesn't mind about what a generator is, the only requirement is that it must be an object exposing a `run` method. The

[2015-01-12 20:06] sindresorhus commented on #21
Ah, yeah, that's true. Another downside of the module.exports way that I just realized is that it will use the `yeoman-generator` version in `yeoman-environment` and not it's own, which is so bad.

-

So lets deprecate it then. I don't think the module.exports way has ever been documented. So it's probably mostly my generators that needs updating. Thoughts?

[2015-01-12 21:30] SBoudrias commented on #21
I think we'll need to make an inventory of some popular generators using this style - and update them.

Once we're confident these are good, we can deprecate/remove from the code and hope it'll have a minimal impact.

[2015-01-13 02:26] molant opened #22 "Generator not found if it's under a namespace"
I'm currently using npm enterprise and I've published a generator to it. When I install it globally via:
[code]
yeoman doesn't find the package because it is under the folder
[code]

I'll work on a PR that also calls findGeneratorsIn for each @namespace folder that is found.

[2015-01-13 02:59] molant commented on #22
Looks like this is tracked via #14

[2015-01-13 02:59] #22 closed

[2015-01-13 07:38] sindresorhus commented on #21
@SBoudrias First step is printing an deprecation message when that style is used.

[2015-01-14 07:19] SBoudrias commented on #18
Hey, thanks for the report.

Anyone wanting to help, a PR is welcomed.

[2015-01-14 07:20] SBoudrias commented on #14
Done!

[2015-01-14 07:20] #14 closed

[2015-01-14 14:09] jviotti opened #24 "Extracting resolver.getNpmPaths() to a separate node module"
In a project that I'm working on, I'm implementing plugin support using the approach that Yeoman uses:
- Scan all npm paths for a matching pattern (like `generator-` but related to my project).
- Require them accordingly.

I found `yeoman-environment`'s `getNpmPaths()` while attempting to write a similar function. In order to reuse this code, I'm requiring the whole `yeoman-environment`, but I fee

[2015-01-14 14:24] sindresorhus commented on #24
:+1: I've been thinking the same. Just forgot to open an issue. Definitely needs to be done.

[2015-01-14 14:31] jviotti commented on #24
If it's feasible, it might also worth to extract `findGeneratorsIn()` (https://github.com/yeoman/environment/blob/master/lib/resolver.js#L63) in a generic way that allows people to search for installed packages matching a pattern.

[2015-01-14 15:35] sindresorhus commented on #24
I'm :+1: for extracting anything that can be reused outside of the environment module.

[2015-01-14 19:51] SBoudrias commented on #24
We need to be careful about how much we extract and how much we divide.

The resolver is a very performance sensible part of Yeoman, and breaking it in multiple sub-module will make it hard to refactor/improve the performance.

If we extract, we need to be careful keeping thing consistent and making sure we can make improvement to the flow without needing to coordinate multiple modules updates.

[2015-01-15 12:58] sindresorhus commented on #24
@SBoudrias Sure, but aren't they already focused and independent functions? Why will it make it hard?

[2015-01-15 21:20] chrisdotcode opened #25 "Incorrect documentation on JSDoc usage example"
[This page](https://yeoman.github.io/environment) currently says:
[code]

where that first line should be:
    <pre><code>var yeoman = require('yeoman-<b>environment</b>');</code></pre>

[2015-01-15 21:28] SBoudrias commented on #25
PR welcomed.

[2015-01-17 11:38] sindresorhus opened #26 "Tests failing on OS X"
[code]

[2015-01-17 19:26] SBoudrias commented on #26
Well, mocha reports test as passing. The trace seems to be catched errors that are passed on the gulp-plumber error domain..?

[2015-01-17 19:36] sindresorhus commented on #26
Fixed in: https://github.com/yeoman/environment/commit/124f0f153c4e7c346947875fa0db40d946d06382

[code]

[2015-01-17 19:39] sindresorhus commented on #26
It now fails on Travis too: https://travis-ci.org/yeoman/environment/builds/47371663

[2015-01-17 19:40] SBoudrias commented on #26
Oh god... How comes gulp changed how they handle errors on minor patches?

[2015-01-17 19:43] sindresorhus commented on #26
It didn't. You did. You introduced `gulp-plumber` which silences stream errors https://github.com/yeoman/environment/commit/82458919a847893e812c6b0467ddd5f05a236b0a#diff-b9e12334e9eafd8341a6107dd98510c9R35 Now we have to handle them for anything to happen, which is for the better.

[2015-01-17 21:07] SBoudrias commented on #26
I guess I'm confused as we had test suite failure since using gulp-plumber

[2015-01-18 07:30] SBoudrias commented on #26
@sindresorhus Just checked this bug and mocha is correct to not report any error. Our tests are good.

The thing is the gulp-plumber reports error that are thrown as part of assertions (when you `assert.throws()`)

This is the test who's throwing an error: https://github.com/yeoman/environment/blob/master/test/environment.js#L305 Mocha doesn't report this as a failure, but gulp-plumber triggers an

[2015-01-18 07:34] sindresorhus commented on #26
So why doesn't the other `assert.throws` cause a failure too? Weird.

[2015-01-20 08:22] sindresorhus commented on #5
@SBoudrias :arrow_double_up:

[2015-01-20 08:29] SBoudrias commented on #5
Well, as yeoman-environment is not widely used a lot, I prefer to stick to the current way for the moment. The two step really make it clear to a consumer what is actually going on. The lookup method take a while to run while run is super fast to start. Also I feel most external use cases for yeoman-environment don't require the lookup phase.

Actually, this never worked, so I removed it from yo.

[2015-01-20 09:54] sindresorhus commented on #5
Which events? `start`/`end`?

[2015-01-20 10:48] sindresorhus commented on #21
Ok, here's a list of ones I could find (which I've now fixed):

- [x] https://github.com/h5bp/generator-mobile-boilerplate
- [x] https://github.com/sindresorhus/generator-pure

I'm pretty sure I was the only one that knew about that shortcut.

I really like to get `yeoman-generator` removed asap as it's both a huge dep and impacts startup performance.

[2015-01-20 19:21] SBoudrias commented on #5
@sindresorhus Yes, they don't make sense in the context of the environment as it is the runner. It can run multiple generators and can basically run forever.

The start/end, if listened to, should be listened to on a generator instance, not the environment.

[2015-01-20 19:22] #21 closed

[2015-01-20 19:28] #5 closed

[2015-01-20 19:28] sindresorhus opened #28 "Remove start/end events"
re https://github.com/yeoman/environment/issues/5#issuecomment-70714778

[2015-02-05 20:26] RollandLiu opened #29 "Unable to call 'yo.cmd' command in Java after upgrading yeoman to 1.3.3 (Windows)"
In my project, I need to call the yeoman command in a Java class. It worked fine before(version 1.2.0) but after I upgrade it to 1.3.3, I get an error when running the 'yo.cmd' command. The yeoman command works fine when running it in a command windows directly.

Env:
    Windows 7 64bit
    Java 1.7.0_51 64bit
    node v0.10.36
    yo 1.3.3

When running the test code: java RunYo, the error messa

[2015-02-05 21:48] SBoudrias commented on #29
This have been fixed a while ago. Cache clean, update, uninstall/reinstall whatev.

[2015-02-05 21:48] #29 closed

[2015-02-06 14:31] RollandLiu commented on #29
Hi Simon, I tired the cache clean and re-installing the 1.3.3 but still got the same error. I also upgraded the npm to 2.4.1 and install yo@1.4.5 but it didn't work. The yo@1.2.0 works.

Did you try calling yo from Java, and could you please take a look at it again?

Thanks,
Rolland

[2015-02-06 20:04] kpiascik commented on #29
@SBoudrias , can you please reference which version has the fix and if there's a github issue that is related to the fix?

[2015-02-06 20:38] SBoudrias commented on #29
It's a bug with Inquirer.js when runned in non-tty terminals. If you use inquirer 0.8.0 you won't have the issue.

[2015-02-06 20:55] RollandLiu commented on #29
I tested the inquirer 0.8.0 and it worked fine, but the default dependency of yo is 0.8.1. We need to fix this. Thanks.

[2015-02-06 20:56] SBoudrias commented on #29
@RollandLiu It is not: https://github.com/yeoman/yo/blob/master/package.json#L52 - and there's no inquirer with higher version than 0.8.0 published to npm. Maybe you use a local server or a mirror?

[2015-02-06 21:19] RollandLiu commented on #29
Yes, we do have a internal server and it's using the non-published inquirer 0.8.1. Thank you so much for your help.

[2015-02-08 23:52] SBoudrias commented on #25
Fixed, thanks!

[2015-02-08 23:52] #25 closed

[2015-02-09 00:29] SBoudrias commented on #18
Hey, the fix you suggested won't work because some lookups are a combination of multiple folders. I'll test another workaround soon.

[2015-02-09 01:56] #18 closed

[2015-02-11 07:42] SBoudrias opened #30 "Finding global generators on io.js"
For some reason global generator cannot be found on io.js - this also cause a test failure on Travis when using io.js.

Note: I have **not** reproduce this myself of a system, I need to investigate and reproduce. We know we have a test failure. That doesn't mean it is not working.

[2015-02-12 20:48] whitlockjc commented on #30
I've started looking into this.  I'll report my findings.

[2015-02-12 22:54] whitlockjc commented on #30
Whenever using io.js, if I run `yo doctor`, I get the following:

[code]

Now, one problem I did run into before this was about an invalid `NODE_PATH` being set but it had nothing to do with io.js and was a relic of my pre-nvm days.  _(To fix it, I actually unset `NODE_PATH` and let nvm do the right thing.)_  I will now clone the sources of yeoman and run the test suite.

[2015-02-12 22:55] whitlockjc commented on #30
If you know of a more specific path to reproducing the issue, let me know.

[2015-02-12 22:59] SBoudrias commented on #30
Running the test suite and fixing the test on io.js would be a great first step - and might actually just fix the issue

[2015-02-12 23:05] whitlockjc commented on #30
Sounds like I'm on the right track then.  I am running into an issue with running `npm test` where I get a `422` from coveralls.  I'm looking into it but I don't see anything documented in the project.  Here is the error: `Bad response: 422 {"message":"Couldn't find a repository matching this job.","error":true}`  If this makes sense, let me know.  Otherwise, I'm already on the hunt.

[2015-02-12 23:17] whitlockjc commented on #30
Tests run fine locally for me.  I see that `.travis.yml` uses `before_script` to set `NODE_PATH` and that was causing me issues when initially installing `yo` for io.js so I'll see if I can reproduce the issue I ran into locally with `NODE_PATH` on Travis-CI.

[2015-02-12 23:45] whitlockjc commented on #30
So, I can reproduce this and it appears to be only on Travis.  If I run the tests locally (OS X with io.js), everything runs fine.  When I submit the project to Travis-CI, it fails and I think it's due to this: [creationix/nvm/issues/586](https://github.com/creationix/nvm/issues/586).  If I comment out/remove the `before_script` from `.travis.yml` where `NODE_PATH` is being set, all tests pass loc

[2015-02-12 23:56] whitlockjc commented on #30
I guess we can remove this since it doesn't seem to be required or we can have `NODE_PATH` set properly, if possible _(I'm not saying it isn't possible, just saying I've not looked into it enough to see the best way to do this.)_.  Those seem to be the options.

[2015-02-13 00:00] SBoudrias commented on #30
What is different with the `before_script` between node.js setup and iojs? It didn't caused issue before.

[2015-02-13 00:02] whitlockjc commented on #30
Node.js works with `before_script` but Io.js does not.  The issue I linked to above seems to talk about the issue in greater detail but it seems with nvm+io.js, `NODE_PATH` either needs to be set differently or not set at all.  I ran into this same issue locally when installing yeoman and that's where I got the idea to test this out.

[2015-02-13 00:05] whitlockjc commented on #30
If you want/need to use `NODE_PATH`, which I'm not sure you do because removing it seems to have tests pass just fine for io.js and node.js, it probably just needs to be set to something like this:

[code]

Using that, I can get `yo doctor` to run fine locally even whereas before it would complain.

[2015-02-13 00:11] whitlockjc commented on #30
Maybe Travis-CI doesn't set `NVM_PATH` properly.  What you have in `before_script` for `NODE_PATH` works locally for me.  So it seems this issue is specific to Travis-CI.  It's up to you how we fix it, I don't mind doing the work if you can let me know which approach you want to be taken:

* Remove `before_script` as it doesn't seem to be required
* Update `before_script` to set `NODE_PATH` where

[2015-02-13 00:12] SBoudrias commented on #30
@whitlockjc I think not setting it is disabling a test (changing `it` to `xit`). Can you verify?

If it doesn't, well then I'm fine with removing it.

[2015-02-13 00:12] whitlockjc commented on #30
You got it.  If it is, I will get started on a PR to have it set properly.

[2015-02-13 00:16] whitlockjc commented on #30
You are right, I didn't know about that.  Here is the reference for those following along at home: [test/resolver.js#L8](https://github.com/yeoman/environment/blob/59170aa1d3a0297bf13c5ae4f0001915edbc0e2f/test/resolver.js#L8).  I will adjust my plan accordingly.

[2015-02-13 00:21] whitlockjc commented on #30
So, I was terribly wrong.  I apologize.  Now that I know about the above test being skipped when `NODE_PATH` was not set, I am now able to reproduce this.  Please forgive me.  I'll get it sorted and the PR should be a real fix and nothing related to `NODE_PATH`.  Thanks for your patience, I'm new to the code base.

[2015-02-13 00:35] whitlockjc commented on #30
I removed the comments above _(that were mine)_ as they were misleading.  Now that I know the importance of `NODE_PATH` to the test suite, I didn't want someone reading this and making the same mistake I did.  I'll be away for a bit but I'll be back later to get you a PR.  Sorry for deleting comments, I wouldn't usually do it but this time I think they caused more confusion than anything.

[2015-02-13 03:49] whitlockjc commented on #30
Figured it out.  :)  I'll get you a PR shortly.

[2015-02-13 04:40] whitlockjc commented on #30
This is not an io.js issue.  Basically, any generator path with more than one `.js` in it will create this issue.

[2015-02-13 07:05] #30 closed

[2015-02-13 21:31] SBoudrias commented on #26
I think we're mostly sure this issue comes from gulp-mocha. We'll wait for a fix over there and check the status of the environment test suite afterward.

For the time being we disabled our gulp build and run our test suite with make.

[2015-03-30 02:50] Freyert commented on #4
Here are some thoughts I had on this subject.

A. Installing JQuery isn't really necessary and could be done with a simple dummy-generator.
B. Perhaps add a postinstall hook to npm to setup the dummy project.

How's that sound?

[2015-03-30 05:53] SBoudrias commented on #4
There's an issue with that. A post install hook means the test itself don't control the environment it's running in, as so it'll be eventually flakey.

And installing a simpler generator still mean we'll do multiple networks request to complete the installation.

So the goal is should be:

1. The test need to setup its own context to ensure it'll pass
2. No network request (so we shouldn't install

[2015-04-04 14:09] supergray commented on #24
+100000 :+1:

[2015-04-04 14:10] supergray commented on #7
`easy` issues are open for longer then 2 years. Really not normal enymore.

[2015-04-04 20:08] SBoudrias commented on #7
@supergray Deleted your comment, please review our [code of conduct](https://github.com/yeoman/yeoman/blob/master/code-of-conduct.md)

[2015-04-05 08:01] arthurvr commented on #19
Once the `Environment.namespaceToName` PR landed I'll do this one.

[2015-04-05 14:48] supergray commented on #7
Deleting comments = not giving people a voice = against the code of conduct. That what I read.

[2015-04-05 21:08] #20 closed

[2015-04-29 05:33] arthurvr commented on #26
Maybe we should revert that now? Seems like fixed in gulp-mocha or am I wrong? Reverted it and everything seems to pass locally.

[2015-04-29 06:12] SBoudrias commented on #26
Checked gulp-mocha and no relevant update out of upgrading to mocha 2.0. Could that have fixed the bug? @sindresorhus

[2015-04-29 06:19] sindresorhus commented on #26
@SBoudrias I don't know. Just keep it as is for now. I'm working on a rewrite of `gulp-mocha` that will fix all the problems. Maybe a couple of weeks off as I'm currently traveling.

[2015-04-29 06:54] SBoudrias commented on #26
No worry, I'm fine with our current setup anyway as it'll serve as a base example for the next generator-node. It's great we can dog food it for now.

[2015-04-29 16:48] #6 closed

[2015-04-29 17:25] sindresorhus commented on #19
Was landed: https://github.com/yeoman/environment/commit/db159ff9e28151c9c81e9c198df862ab8fb27a5f

[2015-04-29 17:26] arthurvr commented on #19
Yuuuppp, thanks for the reminder! Was just going through these issues so will do this one today or tomorrow (:

[2015-05-30 15:38] sindresorhus commented on #19
ping :)

[2015-06-04 15:13] pauldijou opened #39 "Sub-sub-generators"
When reading some code or doc, I came across stuff like `yo name:sub:more` (cf [here](https://github.com/yeoman/environment/blob/0af43f7c5b67cb2190f478b19eb7eba91dfb3d56/lib/environment.js#L211-L215)), but reading some other code source, it looks like it will never be able to handle such a sub-sub-generator (see [here](https://github.com/yeoman/environment/blob/master/lib/resolver.js#L19)) but I'm

[2015-06-25 11:32] anstarovoyt opened #43 "Method getNpmPaths of resolver.js doesn't contain OS X default nodejs path"
Here https://github.com/yeoman/environment/blob/master/lib/resolver.js#L140 you add default the linux path but default OS X path is '/usr/local/lib/node_modules/'.
So if I try to run non-globally installed yo it cannot find generators.

[2015-06-25 18:09] SBoudrias commented on #43
Something else is probably wrong then, because these paths are really a safety fallback.

Either way, PR welcomed to add `/usr/local/lib/node_modules/` in there.

[2015-06-26 08:39] anstarovoyt commented on #43
@SBoudrias thanks

[2015-06-26 08:39] #43 closed

[2015-07-13 03:47] #19 closed

[2015-07-26 17:28] twixie opened #45 "Can you please follow semver?"
Hello,
Dear Yeoman maintainers,

A while ago I submitted a PR (landed in https://github.com/yeoman/environment/commit/72c91a8f8920aabaccb8bdcd70f4eb5d10922f10) which implemented a new method. A while ago I woke up and noticed that there was a release: `1.2.7`. That's a patch version bump. Really cool, thanks for the quick release, though, why a patch version bump?

So I have a question: does the y

[2015-07-26 17:31] sindresorhus commented on #45
I agree, it should have been a `minor` release. We follow semver on all Yeoman projects. This was just an oversight our part.

// @SBoudrias

[2015-07-26 17:34] arthurvr commented on #45
Ha! Told ya before... https://github.com/yeoman/generator-node/commit/e3b9534d4e45f68be875fd2d220b715197510397 ;)

This was just a tiny mistake but we can't really fix this anymore, so I'm going to close this issue. Let's try to do a better job at following semver in the future. @twixie Sorry for the confusion.

[2015-07-26 17:34] #45 closed

[2015-07-28 10:02] twixie commented on #45
@SBoudrias @arthurvr @sindresorhus :+1: Glad to hear that.

[2015-08-03 11:07] twixie commented on #8
Can I submit a PR for this? I would like to.

[2015-08-03 11:07] twixie commented on #26
I have always been able to run everything correctly on both ubuntu and on Mac.

[2015-08-03 11:07] twixie commented on #28
Can I submit a PR for this?

[2015-08-03 11:07] twixie commented on #39
In my humble opinion, this isn't really needed. `gen:sub:sub` seems like not really friendly to the user anymore.

[2015-08-03 12:26] sindresorhus commented on #8
Go ahead :) Anything with the `actionable` label is pull requestsable.

[2015-08-03 12:26] sindresorhus commented on #28
Sure :)

[2015-08-10 13:07] anstarovoyt opened #46 "API to show previous step"
Hi! Yeoman environment has a great API for integration with an external tool. I miss  just one functionality : I need an ability to get (to show) a previous step. Something like 'goBack' if user want to change previous answer.

[2015-08-10 14:29] anstarovoyt opened #47 "API to get list of possible options"
Currently there is no way to get all possible options for an yeoman generator (I mean '--coffee'  and etc). I think this functionality can be very useful

[2015-08-10 16:52] SBoudrias commented on #47
`yo mygenerator --help`

[2015-08-10 16:52] #47 closed

[2015-08-10 17:13] anstarovoyt commented on #47
@SBoudrias sorry, I didn't notice it. Seems if authors always define options according to documentation I can easy access it.

[2015-09-05 22:15] SBoudrias opened #48 "Yeoman shouldn't default to generator:app if subgenerator doesn't exist"
The way we run a generator currently, is that we'll check at the generator namespace provided, and get rid of any namespace one by one until we find a match:

[code]

This mean if someone typoed the subgenerator name, we'll always end up running the `app` generator.

This is a buggy behavior and we should fix it.

[2015-09-12 08:02] enumag commented on #11
:+1: Please add this feature. Yeoman is useless for me without it.

[2015-10-01 00:26] Grawl commented on #46
:+1:

[2015-10-27 19:20] vanthoom commented on #11
+1

[2015-10-28 06:36] marcusvetter commented on #11
+1

[2015-11-02 21:35] w1res commented on #11
+1 I would love to have something like this. It would be very helpful for setting up internal generators company wide. That way non-technical people could just type `yo` and browse the list of available projects/files they can make.

[2015-11-03 06:04] soulwu opened #49 "Can't discover generators compiled with Babel6"
I really like ES6 and build a generator using ES6 syntax in source.
I use Babel to transpile source to ES5.
Since Babel upgrade to 6.0 and [**Kill CommonJS default export behaviour**](https://github.com/babel/babel/issues/2212)
[code]
will be transformed to:
[code]
and `module.exports = exports["default"]` will no longer exist

yeoman-environment can't discover my generator for me.

Consider add s

[2015-11-03 06:14] SBoudrias commented on #49
Not sure what is Node.js take on es6 modules.

Yeoman is a Node.js tools, so I believe we'll be following the standard of the platform.

[2015-11-03 06:30] sindresorhus commented on #49
We're not going to add Babel specific semantics to our code. It's up to you to make something CommonJS compatible.

You can add this in your code as a workaround:

[code]

I'm sure someone will create a Babel plugin for this.

[2015-11-03 06:30] #49 closed

[2015-11-11 10:59] aaronpowell commented on #11
Pondering this issue and a quick dig in the code my assumption is that you would need to update this method - https://github.com/yeoman/environment/blob/master/lib/resolver.js#L109 or change https://github.com/yeoman/environment/blob/master/lib/resolver.js#L34 to call another method to find non-npm generators.

So this leads to the next question, how would the path(s) be configured? It could be co

[2015-11-14 19:07] cancerberoSgx commented on #11
+1 this is mandatory in my case since I'm writing automated tests on my development environment and I can't 'sudo npm link' there to install the generator that I want to test (and I don't want to). Please add it.

[2015-11-20 21:35] SamVerschueren opened #50 "Get arguments/options of sub-generator"
Hi, I'm not sure if this is possible, so if not, just tell me and close the issue :).

So in a sub-generator, it's possible to define arguments and options as described in the section [Arguments](http://yeoman.io/authoring/user-interactions.html) (and Options). Is it possible to retrieve those together with the generators metadata?

The reason I'm asking this is because I'm writing a [VS Code plug

[2015-11-20 21:37] SBoudrias commented on #50
I don't think we have it explicitly exposed. You can call `.help()` to get the help message.

We should totally fix this.

[2015-12-17 01:46] eddiemonge opened #51 "Remove Makefile"
looks like make was used because gulp-mocha was broken. Should probably just run mocha directly no?

[2015-12-17 04:18] SBoudrias commented on #51
We should just run `yo node` on the project.

[2015-12-17 15:47] StefanoMagrassi opened #52 "Fix and enhance resolver.getNpmPaths"
The `resolver.getNpmPaths()` method makes some basically wrong assumptions.

The [entire block](https://github.com/yeoman/environment/blob/master/lib/resolver.js#L123-L142) from line 123 to line 142 (comments included) it's too based on the experience/environment of the developer who implemented the code.

Npm allows to configure a custom path for global `node_modules` directory and the default on

[2015-12-17 19:04] SBoudrias commented on #52
Did you run `yo doctor`?

My guess is that your issue is another one.

I've spent a LOT of time trying to get something working with NPM. It was either utterly slow of very brittle.

That being said, the fallback we're using might break with the new npm 3 flat layout given some different configuration. FWIW, it haven't broke for me, and I also use a custom npm prefix.

Either way, if you feel the

[2015-12-18 08:27] StefanoMagrassi commented on #52
The npm README says:

so, the programmatic solution isn't totally safe.
But this specific piece of code didn't change since version 1.x (as I can suppose watching the [code in 1.0 branch](https://github.com/npm/npm/blob/1.0/lib/npm.js#L396-L403) on npm repo).

I will make some test in order to understand if it's a problem due to my environment and if the "api way" could be a good solution.

[2015-12-18 08:53] StefanoMagrassi commented on #52
I've run yo doctor:

Ok, I think it would be better if I add the global node_modules path to the NODE_PATH env var, even if it's not mandatory.

But I read the [code in `yo doctor` node_path rule](https://github.com/yeoman/doctor/blob/master/lib/rules/node_path.js#L39-L53) and there it's called the npm cli through `childProcess.exec`.

I think that we could also use this approach if we want to avo

[2015-12-18 18:39] SBoudrias commented on #52
@StefanoMagrassi `childProcess.exec` is unfortunately very very slow.

[2015-12-22 07:34] SBoudrias commented on #39
Hey, sorry for the very late answer. But to explain, the getter/namespace logic can handle any nested level of "generators". That being said, this capacity is not reflected into the app because it is not used when resolving generators installed on your machine.

FWIW, that logic is present in the getter/namespace logic mainly because of the aliases (`node:app === node`). There might be other histo

[2015-12-22 07:50] SBoudrias commented on #51
FWIW, gulp or gulp-mocha is still failing hard on asserting exceptions...

[2015-12-22 08:18] SBoudrias commented on #51
I can drop the makefile, but we can't use gulp for now because gulp-mocha really is broken.

[2015-12-22 08:21] #11 closed

[2015-12-22 08:21] #51 closed

[2015-12-22 08:53] SBoudrias commented on #11
`npm update -g yo` to pull the latest version and runs generators by path :)

[2015-12-27 03:04] #48 closed

[2015-12-30 09:23] SamVerschueren commented on #28
Is this only issue only about removing the [`end`](https://github.com/yeoman/environment/blob/master/lib/environment.js#L75) and [`initializing`](https://github.com/yeoman/environment/blob/master/lib/environment.js#L68) lines? (and [here](https://github.com/yeoman/environment/blob/master/lib/environment.js#L453-L462) as well off course). Or should `initializing` be kept?

// @SBoudrias

[2016-01-05 07:21] SBoudrias commented on #28
@SamVerschueren every events related to running generators.

[2016-02-20 21:06] JSeed opened #54 "registerGeneratorsIn function"
Currently Environment provides the function findGeneratorsIn, which searches a list of paths and returns a list of generators within those paths.  From what I can tell, the user still has to loop through each found module, registering any generators found within.  If I am mistaken by all means correct me.

I would like to propose the addition of a registerGeneratorsIn method which receives a list

[2016-02-20 23:51] SBoudrias commented on #54
What's the use case?

[2016-02-21 00:48] JSeed commented on #54
When registering a directory of custom generators to an environment.  In my case I have a bunch of project specific generators that I need to access.  Currently I am using findGeneratorsIn to find all of the modules and then looping through and registering all of the generators/sub generators within each module

[2016-02-24 10:14] deepu105 opened #55 "Generator creates all app files in the root folder instead of specified [windows]"
**Platform : windows**

I was checking out yeoman-app and found that when running a generator all the generator files are created in the folder where I run the app irrespective of whet folder I choose I raised an issue here https://github.com/yeoman/yeoman-app/issues/104

But then I wrote a simple test and tried it out as below and the issue seems to be in yeoman-environment itself, say I executed

[2016-02-24 19:03] SBoudrias commented on #55
You probably have a `.yo-rc.json` file in your root folder.

`yo doctor` should warn you about this.

[2016-02-24 19:22] #55 closed

[2016-02-25 05:21] deepu105 commented on #55
you are right for this I didnt notice I had a .yo-rc file in the root as I
generated the sample with yo :(

Thanks & Regards,
Deepu

On Thu, Feb 25, 2016 at 3:22 AM, Simon Boudrias <notifications@github.com>
wrote:

[2016-02-25 05:43] deepu105 commented on #55
@SBoudrias Im sorry seems I was wrong, this is still in an issue even if I remove the yo-rc file from the root. The cwd into the desired folder has no effect as the files are still created at the root folder from where the program was invoked.
The behaviour is the same irrespective of `.yo-rc.json` file on the root folder, I checked with and without the files and its still not working as expected.

[2016-02-25 05:50] deepu105 commented on #55
I found a workaround. This creates the files in the directory i want, without having to cwd into the directory

[code]

[2016-02-25 05:52] SBoudrias commented on #55
any `.yo-rc.json` file in a parent folder will change the project root.

For testing check http://yeoman.io/authoring/testing.html - especially the part about using tmp directories.

[2016-02-25 06:32] deepu105 commented on #55
I dont have any `.yo-rc.json` file in any of the parent directory where I ran the above and its still the same.

seems like yeoman-environment dumps all files into the folder where `yeoman.createEnv()` is triggered any change of folder after that doesnt seem to have any effect atleast in Windows os.

of course this will not have issues when normal yo generators are run as the environment will be i

[2016-02-25 07:27] SBoudrias commented on #55
And that's happening only with the yeoman app?

I don't know of anyone else running in this issue using yo.

[2016-02-25 07:32] deepu105 commented on #55
yes coz with yo you dont have an option to choose a folder to generate to,
its always generated at the folder where you run `yo` command

Thanks & Regards,
Deepu

On Thu, Feb 25, 2016 at 3:27 PM, Simon Boudrias <notifications@github.com>
wrote:

[2016-04-08 18:42] wwhurley opened #57 "getNpmPaths() prioritizing global modules over local modules"
With the `paths.reverse()` call at https://github.com/yeoman/environment/blob/master/lib/resolver.js#L144 it causes the global paths to be returned first. Is that intended? It seems like we should go from the most specific -- the current project -- to the least specific -- the globally installed modules.

[2016-04-08 18:50] SBoudrias commented on #57
@wwhurley did you encounter a bug?

We're matching the local folder first, the moving on to the globals ones.

[2016-04-08 19:03] wwhurley commented on #57
Maybe. That paths that I'm getting from getNpmPaths() are:
[code]

This is causing yo to register the generator in my global node_modules directory and skip the one in ./node_modules. Looking the code that appears to be the intent of the code in getNpmPaths that adds the local paths, then the global paths and then reversing the array.

[2016-04-08 19:05] SBoudrias commented on #57
You're 100% sure that's what's happening? We have unit test validating the opposite.

[2016-04-08 19:46] wwhurley commented on #57
I'm seeing the results from findGeneratorsIn() return the generators in the correct order:
[code]

However when I run `yo` and select my generator it's hitting the code that is in the global module. For instance in `/opt/local/lib/node_modules/generator-web-starter/app.index.js I have:

[code]

And then in `/Users/whurley/Sites/test/node_modules/generator-web-starter/app.index.js` I have:

[code]

[2016-04-08 19:49] SBoudrias commented on #57
@wwhurley thanks for the details! I hope I didn't sound too dismissive, we just receive a ton of bug reports that are not backed by valid verification.

It looks to me like you've find the source of the bug, so feel free to send a PR!

This tests should've validated locally installed generator gets the priority https://github.com/yeoman/environment/blob/master/test/resolver.js#L74 - but it might b

[2016-04-08 21:28] wwhurley commented on #57
Changing that line resolves the issue in practice though it causes the unit tests to fail. I'll have to dig into the tests to see why that is.

[2016-04-11 18:36] wwhurley commented on #57
I'm looking at some of the unit tests that were failing and I had some questions about them. Specifically:
* https://github.com/yeoman/environment/blob/master/test/resolver.js#L127
* https://github.com/yeoman/environment/blob/master/test/resolver.js#L144

Do you know what those are intending to test, @SBoudrias? Is the order in that array important or is it just inclusion in the array? Specificall

[2016-04-11 18:42] SBoudrias commented on #57
@wwhurley The index matter (as you know), but it can be wrong currently.  So to fix them, it'd just change the index the reflect the correct position they should hold.

[2016-04-19 05:54] #57 closed

[2016-05-01 12:49] mklabs opened #59 "resolve.getNpmPaths - nvm prefix"
Might be related to #52

---

I'm running into an issue when trying to load installed generators with `env#getGeneratorsMeta()`, and I think it's related to nvm and npm prefix being different than the defaults.

My test sample is something like:

[code]

Looking at the `getNpmPaths()` method, I can see that `$NODE_PATH` is used when defined, and I can get the env lookup working with:

    NODE_PAT

[2016-05-01 12:54] mklabs commented on #59
`$NVM_PATH` can also be used if defined in environment variables, might avoid spawning npm to run `npm prefix`

[2016-05-01 20:00] SBoudrias commented on #59
Yeah, spawning a command is really, but reallllly SLOW. It's not a good option.

I'm okay with using `$NVM_PATH`

[2016-05-01 20:02] mklabs commented on #59
Great! I'll probably send you a PR with this update.

[2016-05-01 20:03] mklabs commented on #59
btw, really good job on extracting the environment in its own lib, very pleasant to work with and useful

[2016-05-01 20:07] SBoudrias commented on #59
Thanks!

Also, FWIW, issues might arise more often now that npm behavior is to flatten dependencies. Right now we're always loading `{yeoman-environment root}/../../../..` as the global search path (yeoman-environment -> yo -> global root), but now that assumption might be wrong.

[2016-05-01 20:08] mklabs commented on #59
yep, I had some issues with yo npm linked, but using the `NODE_PATH` trick I was able to work around.

[2016-05-01 23:31] #59 closed

[2016-05-02 08:02] TheSavior opened #61 "Backwards incompatibility due to untildify requiring node4"
I just re-installed one of my packages that depends on yeoman-test and have started getting an error because this package relies on @sindresorhus's https://github.com/sindresorhus/untildify version 3.0.1 which now requires node 4 and uses const. The semver tree has broken causing my once stable build to now fail.

I am currently using node 0.12.13 and my package has a dev dep on `"yeoman-test": "1

[2016-05-02 13:58] matthewp commented on #61
I'm experiencing the same. I guess that the tests are not covering the use of untildify, because travis is still set up to test those environments.  Does yeoman-environment intend to continue to support them?

[2016-05-02 14:26] matthewp commented on #61
I submitted a PR in #62 to downgrade the dependency.

[2016-05-02 18:07] #61 closed

[2016-05-02 18:55] TheSavior opened #63 "Build is currently failing"
The build is currently failing in 0.10 and 0.12. It would be great to get these green again to have confidence that #61 is truly resolved.

[code]

[2016-07-05 09:31] sthzg opened #65 "Allow passing text-table formatting options to log.table()"
[`this.log.table()`](https://github.com/yeoman/environment/blob/master/lib/util/log.js#L167) wraps [`table()`](https://github.com/substack/text-table#var-s--tablerows-opts) provided by the text-table package. The second argument for text-table's `table()` would allow for passing alignment and separator options ([docs](https://github.com/substack/text-table#var-s--tablerows-opts)).

Would you consi

[2016-07-06 18:55] kageurufu opened #67 "1.6.2 deployed version is missing all source files"
/tmp/ curl $(npm view yeoman-environment@1.6.2 dist.tarball) | tar -zt
      % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                     Dload  Upload   Total   Spent    Left  Speed
    100  1459  100  1459    0     0  10192      0 --:--:-- --:--:-- --:--:-- 10202
    package/package.json
    package/readme.md

Is this intentional? Its breakin

[2016-07-06 19:16] themauveavenger opened #68 "dependency missing on fresh yo install"
probably related to #67, I'm trying to do a fresh install of yo and when running it get the following error:

[code]

I looked in the node_modules folder and yeoman-environment is missing on the new install. manually installing 1.6.1 resolves the above error.

Node.js version: 4.4.7
npm version: 3.10.3

[2016-07-06 19:20] SBoudrias commented on #67
Obviously non-intentional.

That's a known npm bug. Will fix asap.

[2016-07-06 19:24] SBoudrias commented on #68
Fix, try reinstalling. We hit a npm bug while publishing.

[2016-07-06 19:24] #68 closed

[2016-07-06 19:31] SBoudrias commented on #67
Fixed with 1.6.3, also removed 1.6.2 from npm

[2016-07-06 19:31] #67 closed

[2016-10-20 06:54] mischah commented on #9
I would like to take care of this 😗

But before I just adapt the solution of yeoman/generator#971 I like to:

### 1. address this comment from @SBoudrias in yeoman/generator#968:

### 2. think about this comment from @SBoudrias in yeoman/generator#971

Ciao

[2016-10-20 06:57] mischah commented on #9
Oops. Why is this closed? Was it me? :dizzy_face:

[2016-10-20 07:05] mischah commented on #9
Yep. It was me:

Using a reserved over there. Sorry :pensive:

Could you reopen this one?

[2016-10-24 06:05] yanghuabei opened #71 "Add support for es6 module"
I want to use es2015 module style to create generator.  I tried this style, code failed.  I think the reason might be babel transform the follow code to `module.exports.default = function AppGenerator() {}`.

[code]

[2016-10-24 18:03] SBoudrias commented on #71
https://github.com/59naga/babel-plugin-add-module-exports

[2016-10-24 18:03] #71 closed

[2016-11-12 08:47] anta-semenov opened #73 "Ability to use other require function in resolveModulePath"
I was trying to use yeoman-environment in project that was built with webpack and encountered a problem with generators registration.
Webpack replace original require function with it's own, so trying to require a generator absolute path caused an error 'Cannot find module'.
My proposal is to allow to user to pass it's own require function to createEnv method with options parameter and use this fu

[2016-11-12 20:38] SBoudrias commented on #73
Generators are Node modules. Why would you ever want to use another module system?

[2016-11-13 05:49] anta-semenov commented on #73
I don't want to use another module system.
Now I'm making package for atom editor and I'm use webpack for building. While building webpack replaces all 'require' statements with it's own implementation and this causes errors when I try to register generators with lookup function. So I don't need to change module system, but I need the way to provide original node 'require' function.

[2016-11-13 06:13] sindresorhus commented on #73
This is not something the generator system should be concerned about. Instead, find a way to solve it with Webpack. Maybe with its `externals` config.

[2016-11-13 06:13] #73 closed

[2016-12-22 22:22] duro opened #74 "Cannot find module when using Environment.getByPath"
I am trying to embed my generator in my project using the `getByPath` method that was introduced here in PR #11

My folder structure looks like this:

[code]

I am trying to test running this generator using this command:

`./node_modules/.bin/yo ./generators/adrizer adrizer`

And I get this error:

[code]

Any idea what I am doing wrong? Or was there a change to the way that `require.resolve` wor

[2016-12-22 22:25] SBoudrias commented on #74
`Cannot find module '/Users/adamduro/Workspace/projects/adrizer-dashboard/generators/adrizer/'`

Is there really a generator there? This is node.js module system not finding an index.js or package.json file in that directory.

Chances is you want `./node_modules/.bin/yo ./generators/adrizer/app/index.js adrizer` or something like that.

[2016-12-22 22:26] duro commented on #74
@SBoudrias There definitely is a package.json in `./generators/adrizer`

Here it is:

[code]

[2016-12-22 22:41] duro commented on #74
@SBoudrias I even just tried recreating my generator using https://github.com/yeoman/generator-generator and I'm still getting this error.

[2016-12-22 22:42] SBoudrias commented on #74
@duro can you print the tree of the folder?

[2016-12-22 22:59] duro commented on #74
@SBoudrias Here you go:

[code]

[2016-12-22 23:02] SBoudrias commented on #74
@duro so as you see, there's no `index.js` files in the folder you pointed yo. So it cannot find the module you want to run.

You want to point yo to `generator-adrizer/generators/app/index.js` directly.

[2016-12-22 23:02] #74 closed

[2016-12-22 23:03] duro commented on #74
@SBoudrias And that would apply to every sub-command as well?

[2016-12-22 23:04] SBoudrias commented on #74
Yes exactly :)

[2016-12-22 23:06] duro commented on #74
@SBoudrias So for local modules, I basically have to mimic the `name:sub-task` structure in my own main package.json for the project? I'm just trying to get a sense of best practice here.

[2016-12-22 23:08] SBoudrias commented on #74
I don't really understand your question.

The only thing to know is that to run a generator with a path, you need to point to the generator `index.js` file directly, not a directory.

[2016-12-22 23:09] duro commented on #74
Thanks!

[2016-12-29 22:12] ericis opened #75 ""Arguments with spaces" don't flow to options"
I can run the following command successfully and get the proper `name` of `Example Service` in `this.options.name`:
`yo my-generator:generate service "Example Service"`

However, when I run the following command, the `name` is truncated as `"Example` in `this.options.name`:
`env.run('yo my-generator:generate service "Example Service"', {'skip-install': true}, function (err) {});`

__My `package.js

[2017-03-09 11:07] sindresorhus commented on #63
Build is passing now.

[2017-03-09 11:07] #63 closed

[2017-03-09 11:08] sindresorhus opened #79 "Promisify"
https://github.com/yeoman/environment/search?utf8=%E2%9C%93&q=cb

[2017-03-27 15:13] eh-am opened #80 "Allow non-boolean parameters"
Right now we can only pass boolean params:

[code]
(from the docs)

I'd like to pass Strings/Numbers, so that I can use it with [yeoman-option-or-prompt](https://github.com/artefact-group/yeoman-option-or-prompt)

[2017-03-28 02:51] SBoudrias commented on #80
Did you try it? In theory, it should just work

[2017-03-28 13:27] eh-am commented on #80
Ops, the issue is on their side. My bad.

[2017-03-28 13:27] #80 closed

[2017-05-09 21:03] eh-am commented on #39
So sub-sub-generators aren't available anymore? :(

[2017-05-10 02:25] SBoudrias commented on #39
@eh-am Actually, they never were available.

[2017-05-11 20:27] mwebler opened #82 "Copy error when trying to run a generator in the same environment twice"
Hello there,

I'm not sure if this is supposed to work like this or if this is an error. But, when you call the same environment to run a generator again, it causes an assertion error for `copy` and `copyTpl` with glob patterns:

`AssertionError: Trying to copy from a source that does not exist: envir-test/node_modules/generator-generator/subgenerator/templates/templates/**`

Example :

[code]

Ev

[2017-05-11 21:06] aiswebmaster commented on #11
Is there an example of how you would run a local generator by path with the latest version of yo?

[2017-05-12 01:40] SBoudrias commented on #82
Do you have the generator code?

[2017-05-12 01:41] SBoudrias commented on #11
@aiswebmaster `yo ./path/to/a/generator-name/app/index.js`

[2017-05-12 03:08] mwebler commented on #82
The error occurs using any generator which uses glob patterns in `copy` calls.

In the example above I'm running the [generator-generator](https://github.com/yeoman/generator-generator) v3.1.0.

[2017-07-10 15:53] Aerex opened #83 "composeWith ignores priority groups when force is added as an option and force is ignored in the CLI."
From what I understand about `composeWith`, the method follows the priority group execution in the `runLoop`. For instance, if you call `composeWith` under `install` the composed generator and main generator should call `install` and any priority group lower (e.g. `end`).

This behavior seems to be ignored if the `force` option is passed in like the following:

[code]

In addition, if you call the

[2017-07-13 22:28] mixn commented on #11
Just wanted to say “thank you” for this. :)

[2017-07-14 14:50] mixn commented on #11
As a quick follow-up question, how would I list all local generators, is there a way to accomplish this?

`yo --generators` seemingly lists all, instead, I’d prefer to just list the ones that are in `generators/` so that internal devs know which things exist and can be called through `yo ./generators/component-name/index.js`.

Thanks!

[2017-07-14 15:22] SBoudrias commented on #11
@mixn the idea behind running them by path is that we cannot know a generator exists there. So I don't think this would be possible.

Although, provided they're all in the same folder, you can run `ls ./my-generator-folder`

[2017-07-31 04:45] jchip opened #84 "default paths cause yo to always load generators from /usr/lib and /usr/local/lib"
Filed the issue here originally: https://github.com/yeoman/yo/issues/532

Looks like the cause is in this module https://github.com/yeoman/environment/blob/8efc37969624da668410433f1bfc88519537eda6/lib/resolver.js#L132-L137

Basically, this is bad because if user installs Node in system as default, and then try to use nvm to manage Node, then yo ends up always loading generators from `/usr/lib` or

[2017-07-31 15:32] #84 closed

[2017-10-10 22:59] tyrsius opened #89 "How is error handling supposed to work?"
When running yeoman environment errors in generators get swallowed. I've trying using `env.on('error')` to register a handler, but it does not get invoked when a generator throws an error. The error param in the `run()` callback isn't set either. What's going on? How do we catch errors?

[2017-10-11 06:10] SBoudrias commented on #89
Hey @tyrsius, it is very hard to see what is the issue you're running into. Usually errors aren't swallowed and exposed properly to the user; so you're definitely not hitting a normal behavior.

As such, I can't help you find the bug unless you provide a more complete example. Can you provide the exact code and steps to reproduce your issue?

[2017-10-12 21:37] tyrsius commented on #89
@SBoudrias ☝️

[2017-10-15 15:16] SBoudrias commented on #89
@tyrsius so if I understand this properly; only errors thrown inside _composed_ generators are not being catch?

[2017-10-15 20:29] tyrsius commented on #89
Yes.

[2017-10-16 01:52] SBoudrias commented on #89
Okay, this looks like a valid bug. I don't think I'll have much time to dig into it in the next week. But let me know if I can help you prepare a PR to fix that!

[2017-12-05 21:13] derohimat opened #92 "How to change folder to Current Folder ?"
Currently generator creates app to root folder

[2017-12-06 06:11] SBoudrias commented on #92
Do you have a `.yo-rc.json` file in your root?

You can also run `yo doctor`, it will point other similar issues you might have with your setup.

[2017-12-12 16:58] derohimat commented on #92
Yes, I have it on root.

fixed with remove it from root folder

[2017-12-12 16:58] #92 closed

[2017-12-29 20:26] rgroothuijsen commented on #82
From what I can see by debugging the copy function, it adds files that were previously requested to an in-memory store, and somewhere along the way the globbed path is added to the list. On subsequent calls, it then mistakenly treats this as a literal path.

[2018-03-31 06:51] gera2ld opened #94 "yarn linked generators cannot be found in Windows"
Looking into the code, I found this:
[code]
But on Windows, the file structure looks like this:
[code]

[2018-03-31 15:37] #94 closed

[2018-04-27 10:04] uiii commented on #94
I'm looking now at yarn's directory structure and there is no `config` dir, but `Data` dir instead, so the path should be `%LOCALAPPDATA%\Yarn\Data\link\...` and `%LOCALAPPDATA%\Yarn\Data\global\...`

My yarn version is **1.6.0**

[2018-04-27 10:57] gera2ld commented on #94
They have changed the paths several months ago:
https://github.com/yarnpkg/yarn/commit/2d454b552d447a0f79a04e4e451e926e1c0a29e7#diff-a7748843fbda5167d065231e3a2e7a1fR61

Perhaps we need an update.

[2018-05-14 14:06] yannickadam opened #97 "Exception in resolver.findGeneratorsIn(...)"
While running yo, the following error occurs:
Error: EACCES: permission denied, scandir '/usr/sbin/authserver
(MacOS / High Sierra)

Culprit is here:
[code]
inside getNpmPaths(). My yo is at **/usr/local/bin/yo**, and this adds the whole **/usr** directory to the search path => globby.sync inside resolver.findsGeneratorIn will throw if some directories are not user readable.

Something like this f

[2018-05-14 16:53] SBoudrias commented on #97
@yannickadam want to send a PR?

[2018-05-14 18:17] SBoudrias commented on #97
Released a new version with this fix.

[2018-05-14 18:17] #97 closed

[2018-07-12 19:31] bdwain opened #100 "module searching is VERY slow for me"
I'm seeing issues with the way path searching works that make it VERY slow. If i say `yo foo`, it takes about 30 seconds to get to the first prompt. It seems like I should be able to do something to make it faster.  I'll try to explain my setup.

I have a generator called `generator-foo` and I am currently moving it to my monorepo called `foo`. Both the old generator-foo folder and the new foo fol

[2018-07-15 03:10] SBoudrias commented on #100
Would you be interested to work on this? I think this would be an awesome improvement, but a little complicated.

Right now when you run `yo foo`, it's unlikely it'll run a single generator. A lot of generators out there will rely on other generators and compose with them (`composeWith`.)

So we'd need to bail on first find, but keep the search available so we don't waste time when starting to sea

[2018-07-15 03:11] SBoudrias commented on #89
@regevbr want to send a PR for this one? Looks like you got it figured out

[2018-07-15 05:06] regevbr commented on #89
@sboudrias sure ill give it a go

[2018-07-17 13:33] #89 closed

[2018-07-17 15:45] regevbr opened #102 "Consider adding an automation adapter"
I have created an automation adapter [yeoman-automation-adapter](https://github.com/regevbr/yeoman-automation-adapter)
Yeoman automation adapter is used for creating automatic responses to user prompts. Used when creating automations to run yeoman without user interaction.

I think that it (or a variation of it) should come built in with the module and we need to document that addition.

@SBoudria

[2018-07-21 08:44] regevbr commented on #102
It is different in the way it provides you with a ability to see the log output for debugging purposes and doesn't silently hide diff issues (future feature). It also doesn't use sinon stubs which are bot necessary on production code. Also the fact that it is not used for testing makes it eligible for a different location then yo-test which would allow automation creators to import it easily

[2018-07-21 08:57] regevbr commented on #102
Maybe we should make the test adapter utilize my adapter to fit for testing to avoid code reuse

[2018-07-22 03:13] SBoudrias commented on #102
If we can get close features parity, I'd by happy to see these two Adapters come together as one.

[2018-07-22 05:14] regevbr commented on #102
Sounds good. Maybe i can create an abstract adapter and pass factories to create the log methods and the test adapter can use locally the sinon stubs and the automation adapter will use the real logger. @SBoudrias should i continue with a pr for this?

[2018-07-23 08:39] SBoudrias commented on #102
This sounds good, PR is welcomed.

I'm not sure an extra adapter should be added to yeoman-environment though. I still feel like it'd be more appropriate in `yeoman-test`, but we could also just create another package if necessary.

[2018-07-23 08:52] regevbr commented on #102
I will do the pr, but I don't see why not add it to the environment package? It is the package used for automations and that is where it will be needed...

[2018-07-23 09:29] SBoudrias commented on #102
From my point of view mainly because it's not a super common use case for most users of this package. I want to make sure we keep the package lean so it doesn't incur extra dependencies cost.

If it's lean and don't require to add extra dependencies, it'd be okay with me.

[2018-07-30 03:13] bdwain commented on #100
Ah I see. I can try to look at some point, but I probably won't have time for a while. Thanks for clarifying though!

[2018-08-04 15:38] SBoudrias commented on #100
BTW the main issue is discussed over here, and looks like I figured out the root cause. I'll push a fix soon.

We still could optimize the yeoman-environment logic itself like discussed earlier.

[2018-10-26 21:35] esheffield opened #107 "If generator is loaded as an object, resolved and namespace values are dropped"
I'm developing a generator using Typescript. I've found that when the generator is instantiated the `resolved` and `namespace` properties are lost and default to `unknown` and `*` respectively.

Doing some experimenting with `environment.js` I found that when calling my generator the `Generator` variable has this structure:
[code]
compared to other generators I examined where `Generator` loads as

[2018-10-28 11:08] SBoudrias commented on #107
Sounds like something we might've forgot. Do you want to send a PR fixing this? Sounds like you found all the relevant code pieces

[2018-10-28 20:44] esheffield commented on #107
Sure, I experimented a bit with a local patch that seems to take care of. I'll clean that up and should be able to have something in a day or two.

[2019-01-01 02:59] cpselvis opened #109 "Node 10.x will get stuck when using yeoman-environment on windows"
## environment

OS: windows
Node: 10.x version

[2019-01-01 05:52] cpselvis commented on #109
已经向 yeoman 提交 [ISSUE](https://github.com/yeoman/environment/issues/109)，我们先尝试修复，修复成功后提交PR给Yeoman

[2019-01-06 17:49] daaren-urthling opened #110 "Considering adding a "dry run" option"
It would be useful to have an option that allow to do almost everything but not committing the FS in the end (similar to --dry-run for Angular CLI).
This may allow to review the list of files added, changed and the eventual conflicts.
As far as the MemFS is used, it should be relative simple to skip the last "commit" phase.
Maybe this is already possible by tweaking in some way the generator ...

[2019-01-08 09:06] LazarusX opened #567 "Generator version is not applied with npx when another version is installed globally"
## Type of issue

Bug?

----

## My environment

* *OS version/details*: `Windows 10 64-bit`
* *Node version:* `10.11.0`
* *npm version:* `6.5.0`
* *Version of yo :* `2.0.5`

## Expected behavior

Yeoman chooses the generator installed by npx over that installed globally.

## Current behavior

When executing with npx, generator version is not applied when another version is installed globally

##

[2019-01-10 09:45] daaren-urthling commented on #110
Ok, I'll give it a try. I am not exactly a guru in node.js development, so I'll take my time ;o)
I am currently working (as a side project) on a generator for a legacy framework of my organization and to fulfill some needs I need to get more and more involved in the yeoman internals, so maybe I will be able to sort it out.
In case of need for some hint, what's the best option? Should I fork the re

[2019-01-10 09:47] SBoudrias commented on #110
@daaren-urthling you can ping me on our gitter channel; and maybe some other people can also jump in to give you a hand.

[2019-01-10 09:49] daaren-urthling commented on #110
Perfect! Let's do this way, thanks a lot.

[2019-02-03 13:06] bd82 opened #111 "Support a configurable custom folder for generators lookup"
Hello.

## Feature Request
Could it be possible to support a custom folder (e.g via an env variable)
for additional generators lookup?

This would be similar to using node.js [***NODE_PATH***](https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders) env variable
except:
- it would only affect yeoman lookup instead of the whole node.js modules lookup.
- It would be a suffix to t

[2019-02-04 16:51] SBoudrias commented on #111
Hey, could you explain more about why the current default search paths do not work for you?

I'd be open to merging a PR for this, but first I'd want to make sure we really need to expand our API surface and that there's no way to fix your core issues automatically.

[2019-02-05 14:16] bd82 commented on #111
Sure 😄

I would like to provide a docker image that has a set of Yeoman generators **pre-installed.**
I could naturally install all of those generators globally, however I also intend that image to contain
[**nvm**](https://github.com/creationix/nvm) and with nvm each node version has it's **own** globals
so switching node version would cause those generators o disappear.

nvm has mitigation optio

[2019-02-11 19:18] SBoudrias commented on #111
You could install the generators in a folder one level higher than your workspace. Or you can put the generators directly in your project and run them with their paths.

If no workaround is satisfying for you, feel free to send a PR. I'll help review and merge.

[2019-02-11 19:30] bd82 commented on #111
Thanks I will see if that suggestion could solve the problem first.

[2019-02-22 23:13] bd82 commented on #111
Closing this, will re-open if the top level folder won't be sufficient.

Thanks 👍

[2019-02-22 23:13] #111 closed

[2019-03-27 12:16] sharmasourabh opened #112 "http.get does not work when using yeoman-environment"
**Environment**: Window 10, node v10.14.1, npm v6.4.1

Following code is there in end() in index.js,. It works fine when `yo namespace:xxx` get executed on command prompt:
[code]

However, when same code is executed using cli integrated with yeoman-environment everything works as expected except get's response events `data` and `end` never gets executed and also doesn't throw any error.

Any help

[2019-03-31 05:52] sharmasourabh commented on #112
Anyone have any idea or know any workaround?

[2019-04-01 14:26] sharmasourabh commented on #112
Call was working as expected. Exit was called before getting the HTTP response, due to delayed response.

[2019-04-01 14:26] #112 closed

[2019-06-21 08:21] thoussem opened #114 "generator not found with npm prefix in windows"
## Type of issue
bug

## My environment

* *OS version/details*: `Windows 10 64-bit`
* *Node version:* `v10.15.3`
* *npm version:* `6.4.1`
* *Version of yo :* `2.0.5`
* *Version of yeoman-environment :* `2.3.1`

## Expected behavior

found and run the generator

## Current behavior

Error: You don't seem to have a generator with the name “generator-name” installed.

## Steps to reproduce the behav

[2019-06-24 16:01] thoussem commented on #114
closed in #115

[2019-06-24 16:01] #114 closed

[2019-07-13 11:48] TomasHubelbauer opened #116 "*cannot find module* when using `require.resolve`"
I am following [Integrating with Yeoman](https://yeoman.io/authoring/integrating-yeoman.html) and I have the same code, just with VS Code instead of NPM generator:

[code]

I have installed both `yeoman-environment` and `generator-code` and both is in my package.json's `dependencies`.

Have I missed a step? I am getting this error:

[code]

[2019-07-13 11:53] TomasHubelbauer commented on #116
Oh I know why now. This is because `generator-code` lacks `main`/`files` in `package.json` but `generator-npm` has it. This is a shortcoming with the VS Code generator then.

[2019-07-13 11:53] #116 closed

[2019-07-16 15:42] mohitsaini2114 opened #117 "How to call yo-name method programmatically."
How to call yo-name method programmatically from and outside method(non- generator class method).

Any leads would be appreciated. Thanks

[2019-07-17 18:21] mohitsaini2114 opened #118 "Port already used error."
I'm sending data from react to node.js by post method. I want to read template file and generate a file in node.js
I'm executing "yo-name" command programmatically but getting port already used error.

I'm using 7000 port for Node server. Can I change server port of Yeoman generator.

// saving post request in column
this.column= []

app.post('/', (req,res,next) => {
    column = req.body
    exec

[2019-07-19 01:17] SBoudrias commented on #117
Hey @mohitsaini2114 I don't understand what your question here. Could you clarify?

[2019-10-06 19:03] anupbaranwal commented on #110
Hey did you try this? I need this feature in my application. I would like to give it a try if I get a bit help. :)

[2019-10-06 20:50] daaren-urthling commented on #110
No, I didn't progress with this project, I had other priorities

[2019-11-13 13:20] aallbrig commented on #39
Too bad. I was thinking about categorizing different generators to keep each individual generator as single purpose as possible for an repo specific yeoman generator. My sub generator folder is starting to _feel_ like a sock drawer.

e.g.
[code]

The idea is that my top level sub generators represent only a manageable handful of categories. A graph tree depth of 2 (sub sub generators) provides mor

[2019-11-15 00:57] shousper commented on #110
I was also after this because it's a little faster than writing tests while prototyping generators. I ended up creating a "BaseGenerator" to extend that overrides `spawnCommand` and `fs`.

In the constructor I added this:

[code]

And replacing `spawnCommand` was pretty simple:

[code]

Please forgive the dirty logging, etc.

Hope this helps someone 🙂

[2019-12-18 20:36] mshima commented on #107
Looks like this is fixed.

[2019-12-18 20:36] #107 closed

[2019-12-20 19:08] mshima commented on #100
This bug should be fixed with https://github.com/yeoman/environment/pull/127
Using filterPaths option.

[2019-12-20 19:14] mshima commented on #100
Maybe this option should be enabled by default.

[2019-12-24 21:05] #110 closed

[2020-01-14 00:03] #117 closed

[2020-01-14 00:03] #118 closed

[2020-01-14 00:03] #102 closed

[2020-01-14 00:03] #109 closed

[2020-01-14 00:03] #83 closed

[2020-01-14 00:03] #100 closed

[2020-01-14 00:03] #82 closed

[2020-01-14 00:03] #65 closed

[2020-01-14 00:03] #75 closed

[2020-01-14 00:03] #54 closed

[2020-01-14 00:03] #50 closed

[2020-01-14 00:03] #52 closed

[2020-01-14 00:03] #46 closed

[2020-01-14 03:16] mshima opened #139 "Implement advanced namespace specification"
Make namespace strict with format (https://github.com/yeoman/environment/pull/136):
- should start with a valid node package name without `generator-`
- then generator path with `:` separator (more then one is allowed)
- then semver version for auto-install `()` separator (optional)
- then unique instance id with `+` separator (more then one is allowed)
- at last, flags:
  - optional flag ?: Don’t

[2020-01-15 00:03] #28 closed

[2020-01-15 00:03] #26 closed

[2020-01-15 00:03] #12 closed

[2020-01-15 00:03] #24 closed

[2020-01-15 00:03] #9 closed

[2020-01-15 00:03] #7 closed

[2020-01-15 00:03] #8 closed

[2020-01-15 00:04] #4 closed

[2020-01-19 10:18] SBoudrias commented on #139
How about installing the packages automatically if not found?

[2020-01-19 11:32] mshima commented on #139
@SBoudrias can you take a look at https://github.com/yeoman/environment/pull/136.
It’s already big, I want to merge it before moving forward.
It’s missing the force flag and instance registering.

[2020-01-22 17:37] mshima opened #142 "Environment 2.8.0"
@SBoudrias can you release 2.8.0?

Merged:
- All commits that were just exposing lookup options. (Shouldn't have behavior change)
- Fixed a precedence bug (https://github.com/yeoman/environment/commit/9465e8a0496d9b0432afaba309899e73177c4b3f)
- Fixed lookupGenerator with package namespace bug (https://github.com/yeoman/environment/commit/79703f9be1ed094c238cb9a993748aaf8f782b6f)
- Implemented isPa

[2020-02-04 07:57] SBoudrias commented on #142
@mshima with your approval, I'll release 2.8.0

[2020-02-04 10:23] mshima commented on #142
Yes you can release.

[2020-02-04 22:43] mshima commented on #142
@SBoudrias it will be great if you release generator 4.6.0 as it is in master now too.
I need to get the instance of composeWith for one task I am work on and that's not possible without https://github.com/yeoman/generator/commit/aebe760a43898566f7810c2bcb3c14c2cba51ed5

[2020-02-14 10:15] SBoudrias commented on #142
it's out!

[2020-02-14 10:15] #142 closed

[2020-03-02 12:34] yanivNaor92 opened #164 "'Cannot find module' error in Typescript project on windows"
I have a typescript project that uses "yeoman-environment" dependency (version 2.8.0).
When I try to run the project's tests with 'npm run test' I receive the following error: "Error: Cannot find module 'C:\Users\<User>\<project_name>\src\app\index.js' ".
This error appears on windows platform but not on Mac.
After I downgrade to v2.7.0 the project runs fine.
The index.ts file exists (C:\Users\<Us

[2020-03-02 13:12] mshima commented on #164
@yanivNaor92 the repository is not accessible, but I think it's required.
Can you confirm if mshima/environment#fix_164 fix your issue?

[2020-03-04 01:26] #164 closed

[2020-03-05 08:30] yanivNaor92 commented on #164
Thank you, mshima/environment#fix_164 does fixed the issue. When is the next release supposed to be?

[2020-03-05 13:34] mshima commented on #164
@SBoudrias is responsible for releases.

[2020-03-21 20:14] #139 closed

[2020-04-19 06:44] alex-gilin opened #209 "Search logic for installed generators - incompatible change"
cwd: /root/user
generators folder 'myGen': /root/somefolder/generators
/root/user/node_modules/myGen soft linked to 'myGen'

v2.8.0
    $ cwd :: yo -> recognizes and displays installed particular generators in 'myGen'
v.2.9.1
     $ cwd :: yo -> DOES NOT recognize installed particular generators in 'myGen'

This is an incompatible change in minor version, which prevent us to use a yo@3.1.0 in our

[2020-04-19 12:18] mshima commented on #209
All tests passed, I have to narrow down why this happened.
You can try
[code]

[2020-04-19 12:22] mshima commented on #209
Can you run and post the output?
[code]

[2020-04-19 12:52] alex-gilin commented on #209
As you requested :
==========================================================

user: user $ yo --version
**3.1.0**
user: user $ DEBUG=yeoman:* yo
  yeoman:environment Running lookup with options { localOnly: false, filePatterns: [ '*/index.js', 'generators/*/index.js', 'lib/generators/*/index.js' ], npmPaths: [ '/usr/lib/node_modules', '/usr/local/lib/node_modules', '/h
ome/user/.node_modules_glob

[2020-04-19 15:06] mshima commented on #209
@alex-gilin the entire node_modules is linked?

[2020-04-19 15:11] alex-gilin commented on #209
I think so.

[2020-04-19 15:23] mshima commented on #209
Ok then.
There are test for node_modules with linked generator.
I don't think there are test for linked node_modules.

[2020-04-19 18:00] #209 closed

[2020-04-19 20:09] mshima commented on #209
Should be fixed in 2.9.4

[2020-05-13 11:59] #39 closed

[2020-05-13 16:49] AnanyaJha opened #227 "Node is required & empty .yo-repository folder being created"
We use yeoman to scaffold new projects and recently we've noticed that yeoman requires node to be installed for the end user and creates an empty `.yo-repository` folder in the directory that the command is being run from. It looks like this change was introduced around two months ago with release 2.9.0 and I wanted to understand whether this was intended. Is it necessary to have node involved and

[2020-05-14 11:27] mshima commented on #227
It’s fixed in #228

[2020-05-14 11:27] #227 closed

[2020-05-14 18:00] avizov opened #230 "npm ERR! missing: yeoman-generator@^4.10.1, required by yeoman-environment@2.10.1"
I have a node package that requires "yeoman-generator" version "4.10.0" and "yeoman-environment" version "2.8.1".
The "yeoman-generator"@4.10.0 requires "yeoman-environment" version "^2.9.5" (actually install "_id": "yeoman-environment@2.10.1") which requires "yeoman-generator": "^4.10.1" and this cycling bring us for following errors in our WhiteSource scan:

+ whitesource run -c whitesource.conf

[2020-05-14 20:53] mshima commented on #230
yeoman-environment has dependency on yeoman-generator due to dependency-less generators.

[2020-05-14 21:54] Tyzanol commented on #230
After removing the yeoman-environment dependance, the whitesource scan passed.
It seems like an issue with the latest versions of yeoman-generator@4.10.1 & yeoman-environment@2.10.1

[2020-05-14 22:15] mshima commented on #230
Ok then, I will revert the yeoman-generator dependency bump.

[2020-05-15 20:23] mshima commented on #230
Closing, reverted the version bump

[2020-05-15 20:23] #230 closed

[2020-05-16 16:21] avizov commented on #230
with the revert, the issue was resolved

[2020-05-29 22:56] ksnyde opened #234 "existing and new generator now claims to be "not installed" when it IS installed"
I have a generator that i've used for years and a new one that's close to "out of the box" and they both are experiencing a mind-boggling error. I've created a video of this problem here:

[https://www.screencast.com/t/2aY1Npmu](video)

In a nutshell, both of my generators can be installed with `npm i -g generator-my-generator` and when I just run `yo` they show up as options, they can also be upd

[2020-05-29 23:54] mshima commented on #234
A exception should be thrown at:
https://github.com/yeoman/environment/blob/0bd0b956010a971671adda8dc247bc81d96894d2/lib/environment.js#L582
When `typeof Generator !== 'function'`

[2020-05-30 00:48] ksnyde commented on #234
Ok, this is helpful and reassuring to have a baseline to aim at. Now I need to understand why Typescript and Rollup transpilations have changed and how to ensure they get back to this contract.

[2020-05-30 01:16] ksnyde commented on #234
It would seem that you used to be able define a named export like so:

[code]

and this would be usable but now you're required to export a default:

[code]

Not sure when this happened or whether it qualifies as a breaking change in semver but it feels like it probably should. Certainly broke my generator :)

[2020-05-30 01:20] ksnyde commented on #234
As I looked for an answer it may be that at some point I changed my `tsconfig.json` settings to include the `allowSynethicDefaultImports` which can be helpful a lot of times but in this case definitely was _not_ helpful. My generator now looks like this:

[code]

and my `tsconfig.json` like this:

[code]

Is there anywhere in the docs that some baseline config would be helpful?

[2020-05-30 01:20] #234 closed

[2020-05-30 01:43] mshima commented on #234
I don't think yeoman is to blame about this, looks like yeoman-environment didn't supported `exports.Generator` at 2.0.0.

I don't think we have TS example at our docs, a full TS example would be helpful.

[2020-06-24 22:02] eankeen opened #238 "Adhere to XDG Base Desktop Specification"
## Type of issue

haii,
i was wondering if there is any interest to adhere to the xdg base desktop specification (on linux), even if it's just a little bit? right now i see a [`~/.yo-rc-global.json`](https://github.com/yeoman/yo/blob/master/lib/utils/global-config.js#L7) file created in the home directory. i mainly would like to see it in `$XDG_CONFIG_HOME/yeoman/yo-rc-global.json` (`~/.config/yeo

[2020-07-30 10:37] manuth opened #241 "`Generator._queues` doesn't refresh after `Env.create`, `Env.instantiate` or `Generator.composeWith`"
In order to extend generators with `customPriorities`  correctly, I'd expect that the `_queues` of every generator in an `Environment` are refreshed as soon as a new priority is added to the `Environment.runLoop`.

## Reproducing the Error
Create a generator with a step `cleanup` which should execute before `end` by passing these options to `super`:
***./lib/generators/a/index.js***
[code]

Create

[2020-07-30 16:14] mshima commented on #241
Try to debug with env `DEBUG=yeoman:generator`.
But looks like b:cleanup is been queued at default priority.

[2020-07-30 16:25] manuth commented on #241
Yeah, exactly.
It's because the `_queues` array is only built once in the `Generator` constructor here:
https://github.com/yeoman/generator/blob/245fcf53c8ff0baa00dbc86fd5be3fb47995bce1/lib/index.js#L292-L298
And here:
https://github.com/yeoman/generator/blob/245fcf53c8ff0baa00dbc86fd5be3fb47995bce1/lib/index.js#L332
But an up to date `_queues` is required to enqueue tasks correctly as seen here:

[2020-07-30 19:24] mshima commented on #241
@manuth I really don't get what you are trying to explain.
`Generator.composeWith` calls `Environment.create`, which calls `Environment.instantiate`, which calls the generator constructor, so `Generator._queues` will be created and populated once.
`Generator._queues` is not changed anywhere else so it's updated.

Without a real test case, I think the problem is `A` or `B` generator constructor not

[2020-07-30 19:27] mshima commented on #241
Are you creating another custom priority at `B`? If so you need to change `A` constructor.
[code]

[2020-07-30 19:30] manuth commented on #241
This is exactly what's causing the problem.
If you execute `Generator.composeWith` in `GeneratorA` you would expect, that `GeneratorA` inherits the `customPriorities` from `GeneratorB`, wouldn't you?
But this is not the case, because `Generator._queues` is only populated once inside the constructor.

[2020-07-30 19:58] mshima commented on #241
No, custom priorities are individual queues, there is no way to share a custom priority.
Actually I was thinking `GeneratorB` extended `GeneratorA`, so `GeneratorA` options would create the custom priority for `GeneratorB`.
- What if you compose with `GeneratorB` without composing with `GeneratorA`?
- What if you compose `GeneratorA` with `GeneratorC` that implements a cleanup task that must be ex

[2020-07-30 20:01] mshima commented on #241
I recommend to create something like:
[code]

And make `GeneratorA` and `GeneratorB` extend `GeneratorWithCleanup`

[2020-07-30 20:02] manuth commented on #241
Got it!
Thanks for your recommendation

[2020-07-30 20:02] #241 closed

[2021-01-06 19:21] cgranade opened #246 "`npm audit` returns high severity vulnerability for yeoman-environment dependencies"
When taking a dependency on `yeoman-environment:^2.10.3`, `npm audit` reports a high-security vulnerability from the dependency path `yeoman-environment` → `npm-api` → `paged-request` → `axios`. The root cause for this report is https://github.com/axios/axios/pull/3410, with a corresponding issue on `paged-request` at https://github.com/jonschlinkert/paged-request/pull/3.

[code]

[2021-01-06 19:22] cgranade opened #247 "`npm audit` reports severe vulnerability for dependency of `yeoman-environment:^2.10.3`."
When taking a dependency on `yeoman-environment:^2.10.3`, `npm audit` reports a high-security vulnerability from the dependency path `yeoman-environment` → `npm-api` → `paged-request` → `axios`. The root cause for this report is https://github.com/axios/axios/pull/3410, with a corresponding issue on `paged-request` at https://github.com/jonschlinkert/paged-request/pull/3.

[code]

[2021-01-07 17:35] mshima commented on #247
Duplicate of https://github.com/yeoman/environment/issues/246

[2021-01-07 17:35] #247 closed

[2021-01-07 19:11] cgranade commented on #247
Apologies for the duplicate, I got a GitHub error posting #246 and did not realize the issue was created successfully.

[2021-01-23 18:19] doowb commented on #246
`paged-request` and `npm-api` have been patched. The issues should now be gone since npm should resolve to the latest patched version.

[2021-01-23 18:27] #246 closed

[2021-01-24 00:33] pjmattingly opened #248 "globby is out of date on yeoman-environment"
When installing yeoman, I get the warning:

I traced the issue to the version of globby used (=> Found "globby@9.2.0"), where the latest version of globby is 11.0.2 (At time of writing; see: https://www.npmjs.com/package/globby).

Cheers.

[2021-01-25 17:25] jmeis commented on #246
@mshima I think you still need to update the **package-lock** with the fixes.

[2021-02-13 02:23] mshima commented on #248
globby@10 had a node version bump, so it cannot be updated in environment@2.x.
Current master have it updated.

[2021-02-13 02:23] #248 closed

[2021-02-15 22:53] mshima opened #270 "v3.0.0 release."
- Conflicter is an environment feature now.
  - Removed first come, first serve restriction when using new api.
  - Remove not required apis.
  - Don't regenerate a file when identical (by default).
  - Logs and prompts are queued to a grouped-queue for out of order processing and optimized disc access.
Every log is printed before going to next prompt.
  - Implement .yo-resolve file for pre-define

[2021-02-21 00:31] #270 closed

[2021-02-21 00:31] mshima commented on #79
Should be fixed now.

[2021-02-21 00:31] #79 closed

[2021-03-10 22:37] hatpick opened #272 "[Feature Request] dependency on package manager (npm, yarn, etc.)"
I see that in ```package-manager.js``` that one can provide which package manager to be used via options.
It means that the users need to have a package manager installed on their machine.
What if I want to bundle a package manager such as [npm](https://www.npmjs.com/package/npm) with the code and want it to be used by this library (to remove the users' need to have them installed on their machine

[2021-03-12 20:36] a-b-r-o-w-n opened #273 "outdated types in @types/yeoman-environment"
The latest release of the @types/yeoman-environment package is 2.10.2

I know the major was just bumped a week ago, but any chance we can get the typings updated soon?

[2021-03-13 14:38] mshima commented on #272
yeoman-environment@3.2.0/yeoman-generator@5.2.0 supports customInstallTask feature.

[2021-03-13 14:38] #272 closed

[2021-04-15 16:04] a-b-r-o-w-n commented on #273
Commenting to remove stale label. This is still needed.

[2021-04-28 15:46] yaypaul opened #286 "403 Peer dependency Quarantined, failing installation"
When trying to install a Yeoman project into our development package we're receiving a 403 error on a peer dependency, cli-table is being listed as quarantined via our Nexus. I'm trying to get the full security issue, but I assume there is a CVE out for this version as it is 7 years old.

`$ npm install yeoman-environment
npm ERR! code E403
npm ERR! 403 Requested item is quarantined: cli-table@^0.

[2021-05-14 20:46] LTegtmeier opened #298 "Can't save promptValues without disabling skipLocalCache"
## Description

When using `yo@^4`, the `store: true` setting on prompts no longer saves the answer in the local `.yo-rc.json` like it did with `yo@^3`.

As shown below, that is because `skipLocalCache` is defaulted to `true`. Was this change intentional? Should it only disable the local cache in experimental mode?
https://github.com/yeoman/environment/blob/550757187894de6038546e1d93e2a6ac2be51135

[2021-05-15 14:53] mshima commented on #298
This was intentional, but forgot the consequence for old generators.
Reverting will be another breaking change.

`store: true` is useful in some use cases where the answer won't change even using a different project.
Like author, preferred license, email.

Project specific should use:
[code]

[2021-05-16 21:35] TomerAberbach opened #299 "Feature request: require node "^12 || >=14" and support "type": "module""
From what I can tell, it's not currently possible to run generators written as ESM modules/`"type": "module"`. This is a feature request for that to be possible!

I took a look at the code and I think these lines in `lib/store.js` could be modified like so to support both CJS and ESM:
[code]

Of course, that's not the end of the story. Then every usage of `this.generators[something]`, directly or

[2021-05-16 23:38] mshima commented on #299
Implemented today.

- Why not keep ">=12.10.0"? Not planning to change it.

It won't be a breaking change.
Composing with a esm generator will have a different behavior, it will return a promise instead a generator.

[2021-05-17 00:14] TomerAberbach commented on #299
Do you mean that ESM generators are already supported? I personally couldn't get it to work, but maybe I was doing something wrong.

I think that the earliest Node version where ESM, including dynamic import, is supported unflagged is v12.17.0. So you'd have to require ">= 12.17.0" at least if dynamic import is in your code (I think it's a syntax error prior to v12.17.0).

Sure, I suppose you coul

[2021-05-17 14:18] LTegtmeier commented on #298
I have existing projects that used `store: true` with Yeoman 3.x and I want to use those answers when running an updated generator.

If I use `store: true`, the generator will use the `promptValues` from the local `.yo-rc.json` but, will not update them if the user changes the existing value.

To get the desired behavior, I can modify your solution to move the `promptValues` into `this.config` and

[2021-05-19 19:26] manuth opened #306 "Fix `yeoman-environment` for NodeJS v16"
`mem-fs-editor`s `delete`-function is not working with NodeJS 16 as noted here:
https://nodejs.org/api/fs.html#fs_fspromises_rmdir_path_options

This issue has been fixed with `mem-fs-editor@9.1.0`.

Please require `mem-fs-editor` > `9.1.0` for `yeoman-generator`.

[2021-05-19 19:36] manuth commented on #306
Oh - nvm
I just noticed, that `yeoman-generator` requires `*` already.

[2021-05-19 19:37] #306 closed

[2021-05-21 03:32] yanni4night opened #307 "this.cwd is undefined in spawn-command"
[code]

`spawnCommand` and `spawnCommandSync` should not be defined in arrow-function style.

[2021-05-21 07:24] yanni4night opened #308 "addDevDependencies/addDependencies should respect .npmrc"
I have a .npmrc in cwd，and  a *registry* defined in it, but yeoman still trys fetching from npmjs.org, which responses 404.

[2021-05-21 11:22] mshima commented on #307
Indeed, thanks for the report.

[2021-05-21 11:24] mshima commented on #308
Seems related to https://github.com/yeoman/environment/issues/307 to me.
npm is executed using spawnCommand and cwd is missing.

[2021-05-22 12:38] manuth opened #309 "Yeoman-Environment doesn't detect `package.json`-changes properly"
When changing the `destinationRoot` of the generator (which I do whenever running a yeoman-generator), features such as detecting `package.json`-changes:
https://github.com/yeoman/environment/blob/0b2b99a9bce3bf852e710dda86b94fa8b54942d0/lib/package-manager.js#L12-L14
Detecting the preferred package-manager:
https://github.com/yeoman/environment/blob/0b2b99a9bce3bf852e710dda86b94fa8b54942d0/lib/pa

[2021-05-22 15:30] manuth commented on #273
@a-b-r-o-w-n is there something specific missing in `@types/yeoman-environment`?

[2021-05-23 12:16] #307 closed

[2021-05-23 12:23] mshima commented on #309
yeoman-generator@4 changes environment `this.cwd` to the generator destinationRoot at constructor.
Not every composed generator needs to have the same `destinationRoot`, composing another generator with another `destinationRoot` would change the environment `this.cwd` and can break the original generator behavior.

yeoman-generator@5 doesn't change environment `this.cwd` because of this problem.
Y

[2021-05-23 12:25] mshima commented on #299
ESM support is added to 3.4.0

[2021-05-23 12:33] mshima commented on #298
Fixed in 5.3.0 https://github.com/yeoman/generator/commit/c1c847dbed005e40ded29ea46d1efd4dbac5cc51

[2021-05-23 13:10] manuth commented on #309
Is it planned to change something about the `package-manager`-extension or the `Environment.cwd`-behavior in order to make it work without having to change `Environment.cwd` manually?

Something like a separate field (such as `Environment.contextDir`) for storing the current generator's `destinationRoot`?

[2021-05-24 17:45] mshima commented on #309
It's possible to create `forwardToEnv` parameter at generator's `destinationRoot` method.
It's not possible to create current generator's behavior.

[2021-05-26 22:44] TomerAberbach commented on #299
Just tried it out! Confirmed it works :partying_face:

Great work! :smile:

[2021-05-26 22:44] #299 closed

[2021-06-02 05:21] slavik-lvovsky opened #312 "Environment.getNpmPaths"
Environment.getNpmPaths method is marked as deprecated. What method should be used instead ?

[2021-06-03 01:34] #286 closed

[2021-06-07 08:24] yanni4night opened #313 "missing typeof"
**typeof** done?
<https://github.com/yeoman/environment/blob/main/lib/environment.js#L953>

[2021-06-07 08:32] gogoyqj commented on #313
should refactor with TypeScript LOL

[2021-06-23 16:45] cgranade commented on #273
It looks like `Environment.run` is still listed as taking a callback parameter in `@types/yeoman-environment@v2.2.3`, but it was changed to an async method in `yeoman-environment@3.4.1` such that the TypeScript compiler complains when `await`ing the result of `.run`.

[2021-06-23 19:56] baconandon commented on #308
FWIW I traced this back to the [`resolvePackage` function in `composability.js`](https://github.com/yeoman/environment/blob/main/lib/composability.js#L67)

So it looks like this is a shortcoming of `pacote` - see e.g. https://github.com/npm/pacote/issues/77

[2021-06-23 19:59] baconandon commented on #308
@mshima based on what I found (pacote issue?) I'm not sure that this is related to #307

[2021-06-23 23:38] mshima commented on #308
I got it, if this is related to addDependencies and addDevDependencies methods, this should be discussed in https://github.com/yeoman/generator/issues/1304.

[2021-06-23 23:38] #308 closed

[2021-06-24 00:01] mshima commented on #312
What use case?

[2021-06-24 12:31] #313 closed

[2021-06-29 00:32] #309 closed

[2021-06-29 00:32] #298 closed

[2021-07-01 11:28] wbern opened #315 "Hangs in my CI environment, after 3.0.0 and upwards"
Hey!

It seems like when I do `helpers.run(...)`, the process simply hangs and never starts any generators.

When I revert to 2.10.3, it works.

It's really hard for me to reproduce this because I have no issues running locally. Jenkins CI is running node 14.15.4, same as what I have locally.

Jenkins is also running in a docker container.

[2021-07-01 20:45] jasonNXP opened #316 "Using node_modules/@types/yeoman-environment createEnv"
From the yeoman documentation, it would appear as though it's possible to create an adapter and pass it to the createEnv, however the @types implementation specifies a TerminalAdapter type on the adapter? parameter. It doesn't look feasible to 'implement' a new adapter as a TerminalAdapter, due to some of the type expectations. Given these limitations, how is someone supposed to use the above crea

[2021-07-05 13:21] #316 closed

[2021-07-27 10:47] jgoblwr opened #319 "Step to run install of dependencies does not run if the destinationRoot is set to a different directory to the directory the yo command is run from"
This feels like a bug or maybe there is a way to set it up so it runs as expected?

I have an example repo to reproduce this issue. https://github.com/jgoblwr/generator-federation-subgraph . A common case would be to create a project directory for the user if it does not already exist. The generator does this here https://github.com/jgoblwr/generator-federation-subgraph/blob/main/generators/app/in

[2021-07-27 11:19] jgoblwr commented on #309
@manuth @mshima when you are saying "change the environment cwd manually" where and how exactly would you do that? In the generator somewhere?

[2021-07-27 11:21] jgoblwr commented on #319
I just see now there was the same issue raised a while ago. The comments talk about "change the environment cwd manually" but I am not sure where or how that would be done?

[2021-07-27 11:24] manuth commented on #309
Set the environment's `cwd`-field (`this.env.cwd = [...]`) and optionally change the current working-directory by invoking `process.chdir(...)`.

I used this workaround in one of my projects:
https://github.com/manuth/ExtendedYoGenerator/blob/8e9ff185f71151a87db23af8bb54b7cea1d69c3f/packages/extended-yo-generator/src/Generator.ts#L214-L234

[2021-07-27 11:52] jgoblwr commented on #309
@manuth great thanks for that. I didn't realise `this.env` was available 🤦‍♂️ inside generator class

[2021-07-27 11:53] jgoblwr commented on #319
i found a workaround here https://github.com/yeoman/environment/issues/309#issuecomment-887431811

[2021-07-27 11:53] #319 closed

[2021-07-27 11:57] manuth commented on #309
No worries - glad I could help 😄

[2021-07-29 00:32] #312 closed

[2021-08-05 05:21] wbern commented on #315
This is still an issue.

[2021-08-05 08:04] breglerj commented on #315
I think the issue is somehow related to the generator namespace. I fixed it by explicitly defining a namespace for the generator I was trying to test:

[code]

In addition I was using a sub-generator in the same project. The sub-generator didn't have the `generator-` prefix which wasn't an issue with version 2 of yeoman-environment. However, version 3 seems to require that all generator names star

[2021-08-08 09:14] evansrobert opened #320 "Update dependency globby"
### Subject of the issue
**yeoman-environment@2.10.3** requires **glob-parent@3.1.0**, which has a security problem (see: [**CVE-2020-28469**](https://snyk.io/vuln/SNYK-JS-GLOBPARENT-1016905)):
`yeoman-environment@2.10.3 ➔ globby@8.0.2 ➔ fast-glob@2.2.7 ➔ glob-parent@3.1.0`

I do not know if this vulnerability actually affects **yeoman-environment**, but it will show up in security reports about d

[2021-08-28 10:25] nvuillam opened #366 "Crash when space in yeoman generator path"
A mega-linter user detected a crash in the generator because there is a space in its windows username

Please could you check ?

[code]

Thanks :)

https://github.com/nvuillam/mega-linter/issues/676

[2021-08-31 18:20] barrettc opened #323 "Capturing console output in generator"
I've written a custom generator that I'm integrating in another tool. I'm wondering if there's an easy way to construct my Yeoman environment to pass in my logger or somehow capture the output of my generator. For example, I'd like to be able to do something like:

[code]

And then have the output of the generator in my `results` instead of the results going to console.log. Thanks for any help!

[2021-09-01 10:01] Himavanth opened #324 "Conflicter from previous environment instantiation is used and not recreated"
Sample code
[code]
Now, at the last line, extGen should have run with new options which include `force` but it doesn't because the previous conflicter is used. https://github.com/yeoman/environment/blob/main/lib/environment.js#L1013
I think a new conflicter should be re-created if env is re-instantiated because the force parameter is a part of instantiation options.

[2021-09-10 00:37] #315 closed

[2021-09-13 00:37] #320 closed

[2021-09-21 06:18] csvan opened #326 "Broken dateformat.js ESM import"
We have started seeing this as of this morning, possibly a broken upstream change:

[code]

[2021-09-21 06:29] chase-manning commented on #326
@csvan  Fixed in version `4.6.2` of `dateformat` package:
https://www.npmjs.com/package/dateformat

[2021-09-28 01:01] #326 closed

[2021-09-28 01:07] mshima commented on #323
You should take a look at adapter parameter passed to the environment, there is a console inside.

[2021-09-28 01:07] #323 closed

[2021-10-31 21:59] MarcMcIntosh opened #329 "generators folder renamed to `lib/generators` in Node version 17"
when using node version 17 it looks like the folder structure for generators is expected to be `lib/generators`

[code]

[2021-11-06 16:52] mshima commented on #329
Looks a dependency bug.

[2021-11-07 13:50] #324 closed

[2021-11-08 12:27] MarcMcIntosh commented on #329
yes, so the deps need to be updated to use `lib/generators`?

[2021-11-08 12:53] mshima commented on #366
Need to add space support to `namespace()`.
https://github.com/yeoman/environment/blob/8e8381101e81fd4721aa84052b8459580fb50216/test/environment.js#L743

[2021-11-08 13:03] mshima commented on #329
You may try uninstall/install to update transitive dependencies.

[2021-11-08 15:13] mshima commented on #366
Spaces are not the problem, but package name that doesn't start with `generator-`.

[2021-11-08 15:19] nvuillam commented on #366
The generator integration is not the main use of mega-linter-runner, so it can not contain generator- in its name :/

[2021-11-08 16:44] mshima commented on #366
The PR should fix the problem when the package is inside a node_modules repository, but it won't help if not.

[2021-11-09 14:47] #366 closed

[2021-11-09 17:31] CAM-Gerlach commented on #366
Hey, sorry I didn't see this in time to test it, and thanks so much for the fix.

This should fix the issue I reported, since in both cases the package was inside `node_modules`. Just to confirm, is this expected to fix it in the global `node_modules` rather than a local one? While not in my case (the spaces were in my homedir), on Windows this is likely to happen much more widely with `npm -g` si

[2021-11-11 15:48] niksy opened #371 ""overwrite this and all others" not remembered"
I’m using latest `yeoman-generator` and it’s behavior with version 3 (which was the last version I used for creating generators) is that when using option `overwrite this and all others` it doesn’t remember it and asks same question when it encounters conflict with a file.

Is this a known bug? I haven’t seen anything in issues other than this similar: https://github.com/yeoman/environment/issues/

[2021-11-12 14:55] GerbenRampaart commented on #273
Yes I'm running into this as well. I thought I was overlooking something.

[2021-11-12 14:59] tdashworth commented on #273
I'm not even sure which version it's based on, maybe v2.x.x.

If I get the time, I'll try to contribute back some updated types although the docs site isn't terribly informative, especially around the `TerminalAdapter` - a key extension point.

[2021-11-16 15:48] gee4vee opened #372 "Vulnerability around ansi-regex"
https://security.snyk.io/vuln/SNYK-JS-ANSIREGEX-1583908

Similar issue happening in other components. It appears npm-log is one source of vulnerability.
https://github.com/mapbox/node-pre-gyp/issues/620

Dep tree for 3.8.0:

[code]

[2021-11-17 21:45] tburny commented on #273
I also ran into this and got quite frustrated. Writing Yeoman generators is already a bit difficult, but writing a custom cli Frontend for a set of generators is nearly impossible if Your Typescript compiler tells you there are issues that practically only exist in the type definition files, but not in the code of itself.

Still thanks a lot for developing and maintaining Yeoman, it seems to be on

[2021-11-25 12:28] #371 closed

[2021-12-14 00:40] #329 closed

[2021-12-17 09:28] symphony-youness commented on #372
This issue is fixed in npmlog@6.0.0

[2022-01-23 00:37] #372 closed

[2022-02-04 23:29] manuth commented on #273
I finally found some time to refactor the type declarations of `yeoman-environment`.
I opened up a new PR just a few seconds ago. Stay tuned.

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/58614

[2022-02-05 08:42] tdashworth commented on #273
That's amazing! Thank you @manuth, I'll take a look now.

[2022-05-17 16:39] frbuceta opened #406 "Cannot import YeomanCommand"
Imported YeomanGenerator with require:
[code]

And, when executing, it tells me this
[code]

[2022-05-17 16:40] frbuceta commented on #406
There is no tutorial on how to make a CLI with yeoman-environment?

[2022-06-01 19:48] mshima commented on #406
Something like
[code]
https://github.com/yeoman/environment/blob/60945ed387ae56b86570d5f295ab9e0c4fade30f/test/command.js#L139-L140

[2022-06-06 14:02] bd82 opened #417 "bundling and `PACKAGE_NAME_PATTERN` in resolver.js"
Hello.

I am trying to bundle our Yeoman generators and wish to avoid using any `externals` due to performance considerations.
- These generators are installed **on startup** in a container based dev env for customers...

I have a small issue with this line:
- https://github.com/yeoman/environment/blob/cb46b68ece80e26ecd0f43ce5e28bf758b3fa88e/lib/resolver.js#L14-L16

Which I believe I can easily r

[2022-06-16 12:47] mshima commented on #417
Indeed `PACKAGE_NAME_PATTERN` looks wrong

[2022-06-20 21:42] bd82 commented on #417
Thanks for the info

[2022-06-20 21:42] #417 closed

[2022-07-04 14:13] chiubaka opened #420 "Cannot find module 'isbinaryfile'"
I'm getting an error like this when using `yeoman-environment` v3.9.1 with `yarn` v3.2.1 with Plug'n'Play:
[code]

I'm on `jest` v28.1.2, which should have pnp support.

I've found that adding `isbinaryfile` as a dev dependency in my project resolves the error, but seems like this package should have been installed as a sub-dependency of `yeoman-environment`? I didn't see `isbinaryfile` in the `ye

[2022-07-07 00:10] #406 closed

[2022-07-19 13:53] moritzraho opened #421 "`env.instantiate` options seem to be broken ('skip-install')"
## What does not work anymore

I used to instantiate and run a generators like follows:

[code]

This used to work but now does not skip install anymore. I couldn't pinpoint the exact time this started to fail.

## Work-around

const env = yeoman.createEnv()
env.options = { skipInstall: true }
 const appGen = env.instantiate(myRequiredGenerator)
 await env.runGenerator(appGen)

[2022-07-29 17:44] mshima commented on #421
Install is done by the environment since last major version of environment/generator.
[code]

[2022-07-29 17:44] #421 closed

[2022-07-29 18:40] #420 closed

[2022-07-29 19:54] moritzraho commented on #421
Thanks for the details @mshima

[2022-08-12 10:43] frbuceta commented on #406
It works, thanks for the help. There is not much information about this

[2022-09-21 21:55] sclarkson-zoomcare commented on #315
@breglerj we were having the exact same issue with Jenkins, and your suggestion resolved it. Thank you!

### Dependencies
[code]

Running Jenkins 2.366

[2022-11-10 03:46] eighty4 opened #441 "Embedding yeoman to run a generator programmatically"
I'm trying to use a generator with `yeoman-environment`, specifying in my dependencies like so:

[code]

I first tried `environment.lookup` and `environment.lookupGenerator` but they exit cleanly and always return undefined.

[code]

I couldn't find any getters that I could use to inspect the state after doing the lookup call, but it completes without error or anything returned.

Then I found `env

[2022-11-10 03:56] eighty4 commented on #441
Alright, so I got the generator to run programmatically using the full path to the default `app` generator.

With this generator:
[code]

and this generator:
[code]

I get this output:
[code]

I got that part working.

[2022-11-10 04:06] eighty4 commented on #441
Is is possible to turn off the logger? There's an extra newline and a log message printed out.

I'd like to embed yeoman and only show prompts configured in the generator and any other events handled programmatically. I see the Adapter type but it looks like it logs to `console.log` and only stdout and stdin for use by the generator prompts and output are configurable.

[2022-11-10 10:54] mshima commented on #441
I recommend implementing like https://github.com/yeoman/environment/blob/main/cli/index.js

[2022-11-10 13:38] eighty4 commented on #441
Do you know how I could disable Yeoman's logging?

[2022-11-10 13:44] mshima commented on #441
Providing a custom terminal adapter: https://github.com/yeoman/environment/blob/main/lib/adapter.js

[2022-11-10 13:44] #441 closed